<div class="blog-section">
 
  <h4 class="related-heading">
    Related posts
  </h4>
 
  <div class="grid">
    {% paginate blog.articles by 3 %}
    {% for article in blog.articles %}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "wc_product_visibility", resource: article %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop End {%- endcomment -%}

    <div class="grid__item medium-up--one-third">
      <div class="blog-list-view">

        <div class="article-listing">
          <div class="entry-media">
            
            {% capture img_id %}ArticleImage-{{ article.image.id }}{% endcapture %}
            {% capture img_wrapper_id %}ArticleImageWrapper-{{ article.image.id }}{% endcapture %}
            {%- assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}


            <div id="{{ img_wrapper_id }}" class="article__list-image-wrapper js">
              <a href="{{ article.url }}" style="padding-top:{{ 1 | divided_by: article.image.aspect_ratio | times: 100 }}%;" class="article__list-image-container">
                <img id="{{ img_id }}"
                     class="article__list-image lazyload"
                     src="{{ article.image | img_url: 'master' }}"
                     data-src="{{ img_url }}"
                     data-widths="[180, 360, 540, 720, 905, 1090, 1296, 1512, 1728, 2048]"
                     data-aspectratio="{{ article.image.aspect_ratio }}"
                     data-sizes="auto"
                     alt="">
              </a>
            </div>
          </div> 
          <div class="entry-content-wrapper">
            <div class="content-wrapper-inner">
              <div class="art-main">
                {% if article.tags.size > 0 %}
                <div class="article__tags rte">
                  <ul class="list--inline" aria-label="{{ 'blogs.article.tags' | t }}">
                    {% for tag in article.tags %}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "wc_product_visibility", resource: tag %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop End {%- endcomment -%}

                     {% if tag  contains 'grid_' %}
                    <li>
					 <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="article__grid-tag">{{ tag | split: "_" | last}}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                  </ul>
                </div>
                {% endif %}


                <div class="art-rgt">
                  <h2 class="article__title h3 margin"><a href="{{ article.url }}">{{ article.title }}</a></h2>                   
                </div>
                <div class="entry-meta">
                  {% if section.settings.blog_show_date %}                    
                  <span class="article__date month-add">
                    {{ article.published_at | date: '%B %d, %Y' }}
                  </span>
                  {% endif %} 
                </div>
              </div>                  
            

            </div>
          </div>  
        </div>

      </div>
    </div>  

    {% endfor %}
    {% endpaginate %}

    {% paginate blog.articles by 3 %}

    {% if section.settings.show_recent_posts %}
    <div class="wrapper-bottom">
      {% if section.settings.recent_posts_title %}
      <h4 class="title text-center">
        {{ section.settings.recent_posts_title }}
      </h4>
      {% endif %}
      {% for article in blog.articles %}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "wc_product_visibility", resource: article %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop End {%- endcomment -%}

      <div class="grid__item medium-up--one-third">
        <div class="latest-post">
          <div class="img">
            {% if article.image %}
            {% capture img_id %}ArticleImage-{{ article.image.id }}{% endcapture %}
            {% capture img_wrapper_id %}ArticleImageWrapper-{{ article.image.id }}{% endcapture %}
            {%- assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

            {% include 'image-style' with image: article.image, small_style: false, width: 905, height: 600, wrapper_id: img_wrapper_id, img_id: img_id %}

            <div id="{{ img_wrapper_id }}" class="article__list-image-wrapper js">
              <a href="{{ article.url }}" style="padding-top:{{ 1 | divided_by: article.image.aspect_ratio | times: 100}}%;" class="img-effect article__list-image-container">
                <img id="{{ img_id }}"
                     class="article__list-image lazyload"
                     src="{{ article.image | img_url: '300x300' }}"
                     data-src="{{ img_url }}"
                     data-widths="[180, 360, 540, 720, 905, 1090, 1296, 1512, 1728, 2048]"
                     data-aspectratio="{{ article.image.aspect_ratio }}"
                     data-sizes="auto"
                     alt="{{ article.image.alt | escape }}">
              </a>
            </div>


            {% endif %}
          </div>
          <div class="content">
            <h4 class="post-title"><a href="{{ article.url }}">{{ article.title }}</a></h4>
            <div class="blog-meta">
              {{ article.published_at | date: '%B %d, %Y' }}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}

    {% endpaginate %}

  </div>
</div>

