{%- comment %}<locksmith:db1f>{% endcomment -%}
  {%- include 'locksmith' -%}
{%- comment %}</locksmith:db1f>{% endcomment -%}

<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
  <head>
<!-- Start of Shoplift scripts -->
{% render 'shoplift' %}
<!-- End of Shoplift scripts -->

<link rel='preconnect dns-prefetch' href='https://api.config-security.com/' crossorigin />
<link rel='preconnect dns-prefetch' href='https://conf.config-security.com/' crossorigin />
<link rel='preconnect dns-prefetch' href='https://whale.camera/' crossorigin />
<script>
/* >> TriplePixel :: start*/
window.TriplePixelData={TripleName:"kush-queen-shop.myshopify.com",ver:"2.12",plat:"SHOPIFY",isHeadless:false},function(W,H,A,L,E,_,B,N){function O(U,T,P,H,R){void 0===R&&(R=!1),H=new XMLHttpRequest,P?(H.open("POST",U,!0),H.setRequestHeader("Content-Type","text/plain")):H.open("GET",U,!0),H.send(JSON.stringify(P||{})),H.onreadystatechange=function(){4===H.readyState&&200===H.status?(R=H.responseText,U.includes(".txt")?eval(R):P||(N[B]=R)):(299<H.status||H.status<200)&&T&&!R&&(R=!0,O(U,T-1,P))}}if(N=window,!N[H+"sn"]){N[H+"sn"]=1,L=function(){return Date.now().toString(36)+"_"+Math.random().toString(36)};try{A.setItem(H,1+(0|A.getItem(H)||0)),(E=JSON.parse(A.getItem(H+"U")||"[]")).push({u:location.href,r:document.referrer,t:Date.now(),id:L()}),A.setItem(H+"U",JSON.stringify(E))}catch(e){}var i,m,p;A.getItem('"!nC`')||(_=A,A=N,A[H]||(E=A[H]=function(t,e,a){return void 0===a&&(a=[]),"State"==t?E.s:(W=L(),(E._q=E._q||[]).push([W,t,e].concat(a)),W)},E.s="Installed",E._q=[],E.ch=W,B="configSecurityConfModel",N[B]=1,O("https://conf.config-security.com/model",5),i=L(),m=A[atob("c2NyZWVu")],_.setItem("di_pmt_wt",i),p={id:i,action:"profile",avatar:_.getItem("auth-security_rand_salt_"),time:m[atob("d2lkdGg=")]+":"+m[atob("aGVpZ2h0")],host:A.TriplePixelData.TripleName,plat:A.TriplePixelData.plat,url:window.location.href,ref:document.referrer,ver:A.TriplePixelData.ver},O("https://api.config-security.com/event",5,p),O("https://whale.camera/live/dot.txt",5)))}}("","TriplePixel",localStorage);
/* << TriplePixel :: end*/
</script>
 {{ locksmith_initializations }}
 {% include 'dropinblog-head' %}
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-T5H8LPF');</script>
<!-- End Google Tag Manager -->
    
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-100356460-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-100356460-1');
</script>
    <script type="text/javascript">(function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/dKvesHTcjQgVmwJ3VGeawU22APvpVQ5GVQEuI5WQ/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();</script>
    <!-- Segment Pixel - AL_Tuscaloosa_Kush Queen_SEG_RT - DO NOT MODIFY -->

<script src="https://secure.adnxs.com/seg?add=19895650&t=1" type="text/javascript"></script>

<!-- End of Segment Pixel -->
    
    

    
    
    
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_button }}">
    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {%- endif -%}

    {%- capture seo_title -%}
    {%- if request.page_type == 'search' and search.performed == true -%}
    {{ 'general.search.heading' | t: count: search.results_count }}: {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
    {%- else -%}
    {{ page_title }}
    {%- endif -%}
    {%- if current_tags -%}
    {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
    &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
    &ndash; {{ shop.name }}
    {%- endunless -%}
    {%- endcapture -%}
    <title>{{ seo_title | strip }}</title>

    {%- if page_description -%}
    {%- comment %}<locksmith:1915>{% endcomment -%}
      {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta name="description" content="{{ page_description | escape }}">{% endif -%}
      {%- comment %}original: <meta name="description" content="{{ page_description | escape }}">{%- endcomment %}
    {%- comment %}</locksmith:1915>{% endcomment -%}
    {%- endif -%}

    {% include 'social-meta-tags' %}
    {{ 'jquery.fancybox.min.css' | asset_url | stylesheet_tag }}
    {{ 'magnific-popup.css' | asset_url | stylesheet_tag }}
    {{ 'slick.css' | asset_url | stylesheet_tag }}
    {{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
    
    {{ 'bootstrap-slider.css' | asset_url | stylesheet_tag }}
    {{ 'theme.scss.css' | asset_url | stylesheet_tag }}


{%- assign yotpo_offload_content = shop.metafields.yotpo.yotpo_offload_content %}
{%- assign time_now = 'now' | date: '%s' %}
{%- assign yotpo_live_time = shop.metafields.yotpo.yotpo_live | date: '%s' %}
{%- assign diffSeconds = time_now | minus: yotpo_live_time %}
{%- if yotpo_offload_content == 'yes' and diffSeconds < 86400 -%}
{{ 'yotpo-full-css.css' | asset_url | stylesheet_tag }}
{%- endif -%}
    {{ 'easy-responsive-tabs.css' | asset_url | stylesheet_tag }}
    {{ 'magiczoomplus.css' | asset_url | stylesheet_tag }}
    {{ 'ionicons.min.css' | asset_url | stylesheet_tag }}
    {{ 'font-awesome.css' | asset_url | stylesheet_tag }}
    {{ 'custome-icon.css' | asset_url | stylesheet_tag }}
    {{ 'fonts.css' | asset_url | stylesheet_tag }}
    {{ 'general.css' | asset_url | stylesheet_tag }}
    {{ 'header.css' | asset_url | stylesheet_tag }}
    {{ 'mobile-menu.css' | asset_url | stylesheet_tag }}
    {{ 'footer.css' | asset_url | stylesheet_tag }}
    {{ 'homepage.css' | asset_url | stylesheet_tag }}
    {{ 'collection-products.css' | asset_url | stylesheet_tag }}
    {{ 'whoweare.css' | asset_url | stylesheet_tag }}
    {{ 'pratibha.css' | asset_url | stylesheet_tag }}
    {{ 'partner.css' | asset_url | stylesheet_tag }}
    {{ 'blog.css' | asset_url | stylesheet_tag }}
    <script>
      var theme = {
        breakpoints: {
          medium: 750,
          large: 990,
          widescreen: 1400
        },
        strings: {
          addToCart: {{ 'products.product.add_to_cart' | t | json }},
          soldOut: {{ 'products.product.sold_out' | t | json }},
          unavailable: {{ 'products.product.unavailable' | t | json }},
          regularPrice: {{ 'products.product.regular_price' | t | json }},
          salePrice: {{ 'products.product.sale_price' | t | json }},
          sale: {{ 'products.product.on_sale' | t | json }},
          showMore: {{ 'general.filters.show_more' | t | json }},
          showLess: {{ 'general.filters.show_less' | t | json }},
          addressError: {{ 'sections.map.address_error' | t | json }},
          addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
          addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
          authError: {{ 'sections.map.auth_error_html' | t | json }},
          newWindow: {{ 'general.accessibility.link_messages.new_window' | t | json }},
          external: {{ 'general.accessibility.link_messages.external' | t | json }},
          newWindowExternal: {{ 'general.accessibility.link_messages.new_window_and_external' | t | json }},
          removeLabel: {{ 'cart.label.remove' | t: product: '[product]' | json }},
          update: {{ 'cart.label.update' | t | json }},
          quantity: {{ 'cart.label.quantity' | t | json }},
          discountedTotal: {{ 'cart.label.discounted_total' | t | json }},
          regularTotal: {{ 'cart.label.regular_total' | t | json }},
          priceColumn: {{ 'cart.label.price_column' | t | json }},
          quantityMinimumMessage: {{ 'products.product.quantity_minimum_message' | t | json }},
          cartError: {{ 'cart.general.cart_error' | t | json }},
          removedItemMessage: {{ 'cart.general.removed_item_html' | t: quantity: '[quantity]', link: '[link]' | json }},
          unitPrice: {{ 'products.product.unit_price_label' | t | json }},
          unitPriceSeparator: {{ 'general.accessibility.unit_price_separator' | t | json }},
          oneCartCount: {{ 'cart.popup.cart_count' | t: count: 1 | json }},
          otherCartCount: {{ 'cart.popup.cart_count' | t: count: '[count]' | json }},
          quantityLabel: {{ 'cart.popup.quantity_label' | t: quantity_count: '[count]' | json }}
        },
        moneyFormat: {{ shop.money_format | json }},
        moneyFormatWithCurrency: {{ shop.money_with_currency_format | json }}
      }

      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    </script>


    {%- if request.page_type contains 'customers/' -%}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
    {%- endif -%}

    <script src="{{ 'lazysizes.js' | asset_url }}" async="async"></script>
    <script src="{{ 'vendor.js' | asset_url }}"></script>
    <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"  defer="defer"></script>
    <script src="{{ 'jquery.fancybox.min.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'bootstrap.min.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'inlinecart.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'SmoothScroll.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'jquery.matchHeight.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'easyResponsiveTabs.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'magiczoomplus.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'jquery.magnific-popup.min.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'slick.min.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'jquery.pushMenu.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'main.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'bootstrap-slider.js' | asset_url }}" defer="defer"></script>

    {{ content_for_header }}
  {% include 'limoniapps-discountninja-header' %}
{% include 'sca.freegifts' %}
</head><div class='evm-multiple evm-us-main-div' data-page='{{template}}'></div>

  <body class="template-{{ request.page_type | handle }}">
    
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T5H8LPF"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    
    
    		<div class="opal-overlay-filter"></div>
    <div class="site-outer">
      <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

      <div id="SearchDrawer" class="search-bar drawer drawer--top" role="dialog" aria-modal="true" aria-label="{{ 'general.search.placeholder' | t }}">
        <div class="search-bar__table">
          <div class="search-bar__table-cell search-bar__form-wrapper">
            <form class="search search-bar__form" action="{{ routes.search_url }}" method="get" role="search">
              <input class="search__input search-bar__input" type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" aria-label="{{ 'general.search.placeholder' | t }}">
              <button class="search-bar__submit search__submit btn--link" type="submit">
                {% include 'icon-search' %}
                <span class="icon__fallback-text">{{ 'general.search.submit' | t }}</span>
              </button>
            </form>
          </div>
          <div class="search-bar__table-cell text-right">
            <button type="button" class="btn--link search-bar__close js-drawer-close">
              {% include 'icon-close' %}
              <span class="icon__fallback-text">{{ 'general.search.close' | t }}</span>
            </button>
          </div>
        </div>
      </div>

      {%- if settings.enable_ajax -%}
      {% include 'cart-popup' %}
      {%- endif -%}

      
      {% section 'new-header' %}
      
      
      
      {% comment %}
 <div class="notification-added-to-cart hide">
    <div class="notification-wrap">
        <div class="ns-thumb d-inline-block"><img src="https://www.kushqueen.shop/wp-content/uploads/2019/08/DSC_6434-copy-edit-300x300.jpg" alt="Alice + Olivia 200mg CBD Bath Bomb"></div>
        <div class="ns-content d-inline-block">
            <p><strong>Alice + Olivia 200mg CBD Bath Bomb</strong> has been added to your cart </p>
        </div>
    </div>
</div>
      {% endcomment %}
		<div class="opal-overlay-filter"></div>
      <div class="page-container" id="PageContainer" style="transform:none;">

        <main class="js-focus-hidden" id="MainContent" role="main" tabindex="-1">
          
          {% unless template == 'index' or template == 'product' or template == '404' %}
          {% include 'breadcrumb' %}
		 {% endunless  %}	          
          {{ content_for_layout }}{{ locksmith_content_for_layout_addenda }}
        </main>

        {% section 'new-footer' %}

        <div id="slideshow-info" class="visually-hidden" aria-hidden="true">
          {{- 'sections.slideshow.navigation_instructions' | t -}}
        </div>

      </div>

      <ul hidden>
        <li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
        <li id="a11y-selection-message">{{ 'general.accessibility.selection_help' | t }}</li>
      </ul>
    </div>
    {% include 'mob-fixed-footer' %}
  <script src='https://cdn.shopify.com/s/files/1/0124/3594/7616/t/7/assets/themepunch-bind.js?ver=5.4.8.3' defer="defer"></script>
  
    
  
  
            {% if product.id == '4475642544224' %}
<!-- Conversion Pixel - AL_Tuscaloosa_Kush Queen_SV_Landing Page - DO NOT MODIFY -->

<script src="https://secure.adnxs.com/px?id=1191688&t=1" type="text/javascript"></script>

<!-- End of Conversion Pixel -->


{% endif %}    
  
  
  
   {% include 'smile-initializer' %}

<!-- Begin ReCharge code -->
{% include 'subscription-theme-footer' %}
<!-- End ReCharge code -->

<!-- **BEGIN** Hextom USB Integration // Main Include - DO NOT MODIFY -->
    {% render 'hextom_usb_main', product: product, customer: customer %}
    <!-- **END** Hextom USB Integration // Main Include - DO NOT MODIFY -->
{% include 'limoniapps-discountninja-body' %}

{% render 'special-offers' %}

</body>

</html>