
  <div class="register-bg"> 

    <!--   Register Start   --> 
    <div class="form-sec register-sec sec-space-bottom"> 
      <div class="form-vertical register-form"> 

        <h1 class="form-title">{{ section.settings.register_title }}</h1>

        {%- assign formId = 'RegisterForm' -%}
        {% form 'create_customer', id: formId, novalidate: 'novalidate' %}
        {% include 'form-status', form_id: formId %}
        <div class="affwp-form">
          <label for="{{ formId }}-FirstName"> Your Name </label>
          <input type="text" name="customer[first_name]" id="{{ formId }}-FirstName" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocomplete="given-name">

          <label for="{{ formId }}-LastName"> Username </label>
          <input type="text" name="customer[last_name]" id="{{ formId }}-LastName" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocomplete="family-name">

          <label for="{{ formId }}-email"> Account Email </label>
          <input
                 type="email"
                 name="customer[email]"
                 id="{{ formId }}-email"
                 class="{% if form.errors contains 'email' %} input--error{% endif %}"
                 {% if form.email %} value="{{ form.email }}"{% endif %}
                 autocorrect="off"
                 autocapitalize="off"
                 autocomplete="email"
                 aria-required="true"
                 {%- if form.errors contains 'email' -%}
                 class="input--error"
                 aria-invalid="true"
                 aria-describedby="{{ formId }}-email-error"
                 {%- endif -%}
                 >
          {%- if form.errors contains 'email' -%}
          <span id="{{ formId }}-email-error" class="input-error-message">
            <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
            {% include 'icon-error' %}
            <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
          </span>
          {%- endif -%}

          <label for="{{ formId }}-email"> Payment Email </label>
          <input
                 type="email"
                 name="customer[note][email]"
                 id="{{ formId }}-payment-email"
                 class="{% if form.errors contains 'email' %} input--error{% endif %}"
                 {% if form.email %} value="{{ form.email }}"{% endif %}
                 autocorrect="off"
                 autocapitalize="off"
                 autocomplete="email"
                 aria-required="true"
                 {%- if form.errors contains 'email' -%}
                 class="input--error"
                 aria-invalid="true"
                 aria-describedby="{{ formId }}-email-error"
                 {%- endif -%}
                 >
          {%- if form.errors contains 'email' -%}
          <span id="{{ formId }}-email-error" class="input-error-message">
            <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
            {% include 'icon-error' %}
            <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
          </span>
          {%- endif -%}

          <label for="{{ formId }}-WebsiteURL"> Website URL </label>
          <input type="text" name="customer[note]" id="{{ formId }}-WebsiteURL" {% if form.website_url %}value="{{ form.website_url }}"{% endif %} autocomplete="family-name">
          
          <label for="{{ formId }}-Promote"> How Will You Promote Us? </label>
          <input type="text" name="customer[note]" id="{{ formId }}-promote" {% if form.pro_mote %}value="{{ form.pro_mote }}"{% endif %} autocomplete="family-name">

          <label for="{{ formId }}-password">{{ 'customer.register.password' | t }}</label>
          <input
                 type="password"
                 name="customer[password]"
                 id="{{ formId }}-password"
                 class="{% if form.errors contains 'password' %} input--error{% endif %}"
                 aria-required="true"
                 {%- if form.errors contains 'password' -%}
                 class="input--error"
                 aria-invalid="true"
                 aria-describedby="{{ formId }}-password-error"
                 {%- endif -%}
                 >
          {%- if form.errors contains 'password' -%}
          <span id="{{ formId}}-password-error" class="input-error-message">
            {% include 'icon-error' %}
            <span>{{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}.</span>
          </span>
          {%- endif -%}

          <label for="{{ formId }}-password"> Confirm Password </label>
          <input
                 type="password"
                 name="customer[note][password]"
                 id="{{ formId }}-confirm-password"
                 class="{% if form.errors contains 'password' %} input--error{% endif %}"
                 aria-required="true"
                 {%- if form.errors contains 'password' -%}
                 class="input--error"
                 aria-invalid="true"
                 aria-describedby="{{ formId }}-password-error"
                 {%- endif -%}
                 >
          {%- if form.errors contains 'password' -%}
          <span id="{{ formId}}-password-error" class="input-error-message">
            {% include 'icon-error' %}
            <span>{{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}.</span>
          </span>
          {%- endif -%} 

          <p class="policy-text">
            <label class="affwp-tos" for="affwp-tos">
              <input id="affwp-tos" required="required" type="checkbox" name="affwp_tos">
              <a href="/pages/term-conditions" target="_blank">Agree to our Terms of Use and Privacy Policy</a>
            </label>
          </p>
          <p class="">
            <input type="submit" value="Register" class="btn">
          </p>
        </div>
        {% endform %}
      </div>
    </div> 
    <!--   Register End   -->
  </div>  



{% schema %}
{
"name": "Section name",
"settings": [
 
{
  "id":"register_title",
  "type":"text",
  "label":"Register Title"
}

]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
