<div class="page-width" data-section-id="{{ section.id }}" data-section-type="cart-template" data-ajax-enabled="{{ section.settings.cart_ajax_enable }}">

  {% comment %}
  <div {% if cart.item_count == 0 %}class="hide" {% endif %}data-cart-wrapper>
    <div class="cart-header">
      <h1 role="heading" aria-level="2" class="cart-header__title">{{ 'cart.general.title' | t }}</h1>
      {% if customer.tags %}
	    {% for tag in customer.tags %}
    	   {% if tag contains "Wholesale" %}
              <a href="/collections/cbd-bath-bombs" class="text-link text-link--accent">
                {{ 'cart.general.continue_shopping' | t }}
              </a>
      	   {% else %}
              <a href="{{ routes.all_products_collection_url }}" class="text-link text-link--accent">
                {{ 'cart.general.continue_shopping' | t }}
              </a>
           {% endif %}
        {% endfor %}
      {% else %}
        <a href="{{ routes.all_products_collection_url }}" class="text-link text-link--accent">
          {{ 'cart.general.continue_shopping' | t }}
        </a>
      {% endif %}
    </div>
    {% endcomment %}

    <form action="{{ routes.cart_url }}" method="post" novalidate class="cart" id="cart_form">
      <table>
        <caption class="visually-hidden">{{ 'cart.general.title' | t }}</caption>
        <thead class="cart__row cart__row--heading">
          <th scope="col">{{ 'cart.label.product' | t }}</th>
          <th class="text-right" scope="col">{{ 'cart.label.price' | t }}</th>
          <th class="text-right small--hide" scope="col">{{ 'cart.label.quantity' | t }}</th>
          <th class="text-right small--hide" scope="col">{{ 'cart.label.total' | t }}</th>
        </thead>
        <tbody data-cart-line-items>
          {%- for item in cart.items -%}
{% comment %} Wholesale_Club_Item_Prices Start {% endcomment %}
{% if item.product %}{% assign base_product = item.product %}{% else %}{% assign base_product = item %}{% endif %}
{% if item.variant %}{% assign base_variant = item.variant %}{% else %}{% assign base_variant = item.selected_or_first_available_variant %}{% endif %}

{% if shop.metafields.sawholesale['base_price'] == blank %}
  {% assign base_price = 'compare_at_price' %}
{% else %}
  {% assign base_price = shop.metafields.sawholesale['base_price'] %}
{% endif %}

{% assign saw_discount = 0 %}{% assign saw_has_discount = false %}

{% if customer.tags != blank %}
  {% for mf in base_product.metafields.sawholesale %}
    {% capture product_customer_tag %}{{ mf | first | replace: 'discount_', '' }}{% endcapture %}
    {% if customer.tags contains product_customer_tag %}
      {% assign saw_has_discount = true %}
      {% assign discount_key = product_customer_tag | prepend: 'discount_' %}
      {% assign price_key = product_customer_tag | prepend: 'price_' %}
      {% assign saw_discount = base_product.metafields.sawholesale[discount_key] | divided_by: 100.0 %}
    {% endif %}
  {% endfor %}
{% endif %}

{% assign saw_discount = 1 | minus: saw_discount %}

{% if base_price == 'price' or base_variant.compare_at_price == blank  or base_variant.compare_at_price == 0 or base_variant.compare_at_price < base_variant.price %}
  {% assign saw_variant_compare_at_price = base_variant.price %}
{% else %}
  {% assign saw_variant_compare_at_price = base_variant.compare_at_price %}
{% endif %}

{% assign cpe = shop.metafields.sawholesale['cpe'] | default: "true" %}
{% if base_variant.metafields.sawholesale[price_key] != blank and cpe == "true" %}
  {% assign saw_variant_price = base_variant.metafields.sawholesale[price_key] %}
{% else %}
  {% assign saw_variant_price = saw_variant_compare_at_price | times: saw_discount %}
{% endif %}

{% if saw_has_discount == false or saw_variant_price >= saw_variant_compare_at_price %}
  {% assign WCItem_OriginalPrice = item.original_price %}
  {% assign WCItem_FinalPrice = item.final_price %}
  {% assign WCItem_Price = item.price %}
  {% assign WCItem_PriceMin = item.price_min %}
  {% assign WCItem_PriceMax = item.price_max %}
  {% assign WCItem_CompareAtPrice = item.compare_at_price %}
  {% assign WCItem_CompareAtPriceMin = item.compare_at_price_min %}
  {% assign WCItem_CompareAtPriceMax = item.compare_at_price_max %}
  {% assign WCItem_OriginalLinePrice = item.original_line_price %}
  {% assign WCItem_FinalLinePrice = item.final_line_price %}
  {% assign WCItem_LinePrice = item.line_price %}
{% else %}
  {% assign WCItem_OriginalPrice = saw_variant_compare_at_price %}
  {% assign WCItem_FinalPrice = saw_variant_price %}
  {% assign WCItem_Price = saw_variant_price %}
  {% assign WCItem_PriceMin = item.price_min | times: saw_discount %}
  {% assign WCItem_PriceMax = item.price_max | times: saw_discount %}
  {% assign WCItem_CompareAtPrice = saw_variant_compare_at_price %}
  {% if base_product.compare_at_price_min != 0 %}{% assign WCItem_CompareAtPriceMin = base_product.compare_at_price_min %}{% else %}{% assign WCItem_CompareAtPriceMin = base_product.price_min %}{% endif %}
  {% if base_product.compare_at_price_max != 0 %}{% assign WCItem_CompareAtPriceMax = base_product.compare_at_price_max %}{% else %}{% assign WCItem_CompareAtPriceMax = base_product.price_max %}{% endif %}
  {% assign WCItem_OriginalLinePrice = WCItem_OriginalPrice | round | times: item.quantity %}
  {% assign WCItem_FinalLinePrice = WCItem_FinalPrice | round | times: item.quantity %}
  {% assign WCItem_LinePrice = WCItem_Price | round | times: item.quantity %}
{% endif %}
{% comment %} Wholesale_Club_Item_Prices End {% endcomment %}

            <tr class="cart__row" data-cart-item data-cart-item-key="{{ item.key }}" data-cart-item-url="{{ item.url }}" data-cart-item-title="{{ item.title }}" data-cart-item-index="{{ forloop.index }}" data-cart-item-quantity="{{ item.quantity }}">
              <td class="cart__meta small--text-left" data-cart-table-cell>
                <div class="cart__product-information">
                  <div class="cart__image-wrapper">
                    <img class="cart__image{% if item.image == null %} hide{% endif %}" src="{{ item | img_url: 'x190' }}" alt="{{ item.image.alt | escape }}" data-cart-item-image>
                  </div>
                  <div>
                    <div class="list-view-item__title">
                      <a href="{{ item.url }}" class="cart__product-title" data-cart-item-title>
                        {{ item.product.title }}
<span class="saso-cart-item-discount-notes" data-key="{{item.key}}"></span>
<span class="saso-cart-item-upsell-notes" data-key="{{item.key}}"></span>
                                
<!-- **BEGIN** Hextom USB Integration // Cart Include - DO NOT MODIFY -->
    {% render 'hextom_usb_cart', item: item %}
    <!-- **END** Hextom USB Integration // Cart Include - DO NOT MODIFY -->

                      </a>
                    </div>

                    {%- assign variant_options = 'template ' | split: ' ' -%}
                    {%- if item.product.has_only_default_variant != true -%}
                      {%- assign variant_options = item.options_with_values -%}
                    {%- endif -%}
                    {%- assign property_size = item.properties | size -%}

                    <ul class="product-details{% if item.product.has_only_default_variant and property_size == 0 %} hide{% endif %}" data-cart-item-details aria-label="{{ 'cart.label.product_details' | t }}">
                      {%- for option in variant_options -%}
                        <li class="product-details__item product-details__item--variant-option{% if item.product.has_only_default_variant %} hide{% endif %}" data-cart-item-option>{{ option.name }}: {{ option.value }}</li>
                      {%- endfor -%}

                      {%- comment -%}
                        Optional, loop through custom product line items if available

                        Line item properties come in as having two parts. The first part will be passed with the default form,
                        but p.last is the actual custom property and may be blank. If it is, don't show it.

                        For more info on line item properties, visit:
                          - http://docs.shopify.com/support/your-store/products/how-do-I-collect-additional-information-on-the-product-page-Like-for-a-monogram-engraving-or-customization
                      {%- endcomment -%}

                      {%- assign properties = 'template ' | split: ' ' -%}
                      {%- if property_size > 0 -%}
                        {%- assign properties = item.properties -%}
                      {%- endif -%}

                      {%- for p in properties -%}
                      
                        {%- unless p.last == blank or p.first == "subscription_id" or p.first == "shipping_interval_frequency" or p.first == "shipping_interval_unit_type" or p.first contains "_checkoutblocks"  -%}
                          <li class="product-details__item product-details__item--property{%if property_size == 0%} hide{% endif %}" data-cart-item-property>
                            <span class="product-details__item-label" data-cart-item-property-name>{{ p.first }}: </span>

                            {%- comment -%}
                              Check if there was an uploaded file associated
                            {%- endcomment -%}
                            <span data-cart-item-property-value>
                              {%- if p.last contains '/uploads/' -%}
                                <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                              {%- else -%}
                                {{ p.last }}
                              {%- endif -%}
                            </span>
                          </li>
                        {%- endunless -%}
                      {%- endfor -%}
                    </ul>

                    <p class="cart__remove">
                      <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="text-link text-link--accent" aria-label="{{ 'cart.label.remove' | t: product: item.title }}" data-cart-remove>{{ 'cart.general.remove' | t }}</a>
                    </p>
                  </div>
                </div>
              </td>
              <td class="cart__price text-right">

                {%- assign hasDiscount = false -%}
                {%- if WCItem_OriginalPrice != WCItem_FinalPrice -%}
                  {%- assign hasDiscount = true -%}
                {%- endif -%}

                <div data-cart-item-price>
                  <dl role="none" data-cart-item-price-list>
                    {%- comment -%}
                      Markup template for discount item
                    {%- endcomment -%}
                    <div {% unless hasDiscount %}class="hide" {% endunless %}data-cart-item-discounted-price-group>
                      <dt role="none">
                        <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                      </dt>
                      <dd role="none">
                        
<span class="saso-cart-item-price" data-key="{{item.key}}"><s data-cart-item-original-price>{{ WCItem_OriginalPrice | money }}</s></span>

                      </dd>
                      <dt role="none">
                        <span class="visually-hidden">{{ 'products.product.sale_price' | t }}</span>
                      </dt>
                      <dd role="none">
                        
<span class="saso-cart-item-price" data-key="{{item.key}}"><span class="order-discount" data-cart-item-final-price>{{ WCItem_FinalPrice | money }}</span></span>

                      </dd>
                    </div>

                    {%- comment -%}
                      Markup template for regular price item
                    {%- endcomment -%}
                    <div {% if hasDiscount %}class="hide" {% endif %}data-cart-item-regular-price-group>
                      <dt role="none">
                        <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                      </dt>
                      
<span class="saso-cart-item-price" data-key="{{item.key}}"><dd role="none" data-cart-item-regular-price>
                        {{ WCItem_OriginalPrice | money }}
                      </dd></span>

                    </div>

                    {%- comment -%}
                      Markup template for unit price
                    {%- endcomment -%}
                    <div {% unless item.unit_price_measurement %}class="hide" {% endunless %}data-unit-price-group>
                      <dt role="none">
                        <span class="visually-hidden visually-hidden--inline">{{ 'products.product.unit_price_label' | t }}</span>
                      </dt>
                      <dd role="none">
                        <span class="price-unit-price">
                          {%- capture unit_price_separator -%}
                            <span aria-hidden="true">/</span><span class="visually-hidden">{{ 'general.accessibility.unit_price_separator' | t }}&nbsp;</span>
                          {%- endcapture -%}
                          {%- capture unit_price_base_unit -%}
                            {%- if item.unit_price_measurement.reference_value != 1 -%}
                              {{- item.unit_price_measurement.reference_value -}}
                            {%- endif -%}
                            {{ item.unit_price_measurement.reference_unit }}
                          {%- endcapture -%}

                          <span data-unit-price>{{ item.unit_price | money }}</span>{{- unit_price_separator -}}<span data-unit-price-base-unit>{{- unit_price_base_unit -}}</span>
                        </span>
                      </dd>
                    </div>
                  </dl>
                </div>

                {%- assign itemDiscounts = 'template ' | split: ' ' -%}
                {%- if item.line_level_discount_allocations != blank -%}
                  {%- assign itemDiscounts = item.line_level_discount_allocations -%}
                {%- endif -%}

                <ul class="order-discount order-discount--list order-discount--title order-discount--cart{% if item.line_level_discount_allocations == blank %} hide{% endif %}" aria-label="{{ 'customer.order.discount' | t }}" data-cart-item-discount-list>
                  {%- for discount_allocation in itemDiscounts -%}
                    <li class="order-discount__item" data-cart-item-discount>
                      {%- include 'icon-saletag' -%}
                      <span data-cart-item-discount-title>
                        {{- discount_allocation.discount_application.title -}}
                      </span> (-<span data-cart-item-discount-amount>{{ discount_allocation.amount | money }}</span>)
                    </li>
                  {%- endfor -%}
                </ul>

                <div class="cart__qty medium-up--hide">
                  <label for="updates_{{ item.key }}" class="cart__qty-label" data-quantity-label-mobile>
                    <span aria-hidden="true">{{ 'cart.label.qty' | t }}</span><span class="visually-hidden">{{item.product.title}} {{ 'cart.label.quantity' | t }}</span>
                  </label>
                  <input id="updates_{{ item.key }}" class="cart__qty-input" type="number"
                    value="{{ item.quantity }}" min="0" pattern="[0-9]*"
                    data-quantity-input data-quantity-item="{{ forloop.index }}" data-quantity-input-mobile>
                </div>
                <div class="cart__qty-error-message-wrapper cart__qty-error-message-wrapper--mobile hide" role="alert" data-cart-quantity-error-message-wrapper>
                  <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                  {% include 'icon-error' %}
                  <span class="cart__qty-error-message" data-cart-quantity-error-message></span>
                </div>
              </td>
              <td class="cart__quantity-td text-right small--hide">
                <div class="cart__qty">
                  <label for="updates_large_{{ item.key }}" class="cart__qty-label" data-quantity-label-desktop><span class="sr-only">{{item.product.title}} </span>{{ 'cart.label.quantity' | t }}</label>
                  <input id="updates_large_{{ item.key }}" class="cart__qty-input" type="number"
                    name="updates[]" value="{{ item.quantity }}" min="0" pattern="[0-9]*"
                    data-quantity-input data-quantity-item="{{ forloop.index }}" data-quantity-input-desktop>
                </div>
                <div class="cart__qty-error-message-wrapper cart__qty-error-message-wrapper--desktop hide" role="alert" data-cart-quantity-error-message-wrapper>
                  <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                  {% include 'icon-error' %}
                  <span class="cart__qty-error-message" data-cart-quantity-error-message></span>
                </div>
              </td>
              <td class="cart__final-price text-right small--hide" data-cart-item-line-price>
                {%- comment -%}
                  Markup template for discount item
                {%- endcomment -%}
                <dl {% unless WCItem_OriginalLinePrice != WCItem_FinalLinePrice %}class="hide" {% endunless %}data-cart-item-discounted-price-group>
                  <dt>
                    <span class="visually-hidden">{{ 'cart.label.regular_total' | t }}</span>
                  </dt>
                  <dd>
                    
<span class="saso-cart-item-line-price" data-key="{{item.key}}"><s data-cart-item-original-price>{{ WCItem_OriginalLinePrice | money }}</s></span>

                  </dd>
                  <dt>
                    <span class="visually-hidden">{{ 'cart.label.discounted_total' | t }}</span>
                  </dt>
                  <dd>
                    
<span class="saso-cart-item-line-price" data-key="{{item.key}}"><span class="order-discount" data-cart-item-final-price>{{ WCItem_FinalLinePrice | money }}</span></span>

                  </dd>
                </dl >

                {%- comment -%}
                  Markup template for regular price item
                {%- endcomment -%}
                <div {% if WCItem_OriginalLinePrice != WCItem_FinalLinePrice %}class="hide" {% endif %}data-cart-item-regular-price-group>
                  
<span class="saso-cart-item-line-price" data-key="{{item.key}}"><span data-cart-item-regular-price>{{ WCItem_OriginalLinePrice | money }}</span></span>

                </div>
              </td>
            </tr>
          {%- endfor -%}
        </tbody>
      </table>

      <div class="cart__footer">
        <div class="grid">
          {%- if section.settings.cart_notes_enable -%}
            <div class="grid__item medium-up--one-half cart-note">
              <label for="CartSpecialInstructions" class="cart-note__label small--text-center">{{ 'cart.general.note' | t }}</label>
              <textarea name="note" id="CartSpecialInstructions" class="cart-note__input" data-cart-notes>{{ cart.note }}</textarea>
            </div>
          {%- endif -%}
          <div class="grid__item text-right small--text-center{% if section.settings.cart_notes_enable %} medium-up--one-half{% endif %}">

            {%- assign cartDiscounts = 'template ' | split: ' ' -%}
            {%- if cart.cart_level_discount_applications.size > 0 -%}
              {%- assign cartDiscounts = cart.cart_level_discount_applications -%}
            {%- endif -%}
            <div{% if cart.cart_level_discount_applications.size == 0 %} class="hide"{% endif %} data-cart-discount-wrapper>
              <div class="order-discount-card-wrapper" data-cart-discount>
                {%- for discount_application in cartDiscounts -%}
                  <span class="order-discount order-discount--title order-discount--cart">
                    {%- include 'icon-saletag' -%}<span class="visually-hidden">{{ 'customer.order.discount' | t }}:</span><span data-cart-discount-title>{{- discount_application.title -}}</span>
                  </span>
                  <span class="order-discount order-discount--cart order-discount--cart-total">
                    -<span data-cart-discount-amount>{{ discount_application.total_allocated_amount | money }}</span>
                  </span>
                {%- endfor -%}
              </div>
            </div>

            <div class="cart-subtotal">
              <span class="cart-subtotal__title">{{ 'cart.general.subtotal' | t }}</span>
              
<span class="saso-cart-original-total"><span style="display: block; text-align: right;" class="saw-extra-note"></span><span class="saw-cart-original-total"><span class="cart-subtotal__price" data-cart-subtotal>{{ cart.total_price | money_with_currency }}</span></span><br><span class="saw-cart-total"></span></span>
<span class="saso-cart-total"></span>

            </div>
     
            {%- capture taxes_shipping_checkout -%}
              {%- if shop.taxes_included and shop.shipping_policy.body != blank -%}
                {{ 'cart.general.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
              {%- elsif shop.taxes_included -%}
                {{ 'cart.general.taxes_included_but_shipping_at_checkout' | t }}
              {%- elsif shop.shipping_policy.body != blank -%}
                {{ 'cart.general.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
              {%- else -%}
                {{ 'cart.general.taxes_and_shipping_at_checkout' | t }}
              {%- endif -%}
            {%- endcapture -%}
            {% render 'saw_netterms' %}
            <div class="cart__shipping rte">{{ taxes_shipping_checkout }}</div>
            <div class="cart__buttons-container">
              <div class="cart__submit-controls">
                {%- unless section.settings.cart_ajax_enable -%}
                <input type="submit" name="update"
                  class="cart__submit btn btn--secondary"
                  value="{{ 'cart.general.update' | t }}">
                {%- endunless -%}
               
                {% assign has_subscriptions = false %}
                {% for i in cart.items %}
                    {% for p in i.properties %}
                        {% if p.first == 'shipping_interval_frequency' %}
                            {% assign has_subscriptions = true %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}  
                {% unless is_drawer %}
              <div style='display:flex;justify-content:end;align-items:center;width:100%;'>
            {% else %}
              <div style='display:flex;justify-content:center;align-items:center;width:100%;'>
            {% endunless %}
              <div class="monk-protect-app"></div>

                <!-- MonkProtect Banner Snippet Start -->
<style>
@media screen and (min-width: 700px) {
	.monkprotect-v2-modal__content-wrapper {
		display: flex !important;
		align-items: center !important;
		justify-content: center !important;
		pointer-events: none !important;
		height: 100% !important;
		width: 100% !important;
	}

	.monkprotect-v2-modal__content {
		pointer-events: auto !important;
		width: 640px !important;
		text-align: left !important;
		padding: 40px !important;
	}
	.monkprotect-v2-modal__shape {
		transform: rotate(135deg) !important;
		transform-origin: center center !important;
	}
	.monkprotect-v2-modal__heading {
		font-size: 30px !important;
		line-height: 36px !important;
	}
	.monkprotect-v2-modal__logo {
		margin: 0 !important;
	}
	.monkprotect-v2-modal__info {
		display: flex !important;
		justify-content: space-between !important;
	}
	.monkprotect-v2-modal__footer {
		margin-top: 0 !important;
	}
	.monkprotect-v2-modal__copy {
		margin-top: 0 !important;
	}
	.monkprotect-v2-modal__footer-list-item {
		margin-right: 20px !important;
		padding-right: 20px !important;
	}
	.monkprotect-v2-modal__info-wrapper {
		display: flex !important;
		flex-direction: row !important;
		justify-content: space-between !important;
	}
	.monkprotect-v2-modal__main-text {
		max-width: 280px !important;
		padding-top: 50px !important;
		margin-top: 0 !important;
	}
	.monkprotect-v2-modal__image {
		order: 2 !important;
		flex-grow: 1 !important;
		margin-bottom: 0 !important;
		position: relative !important;
		right: -38px !important;
		top: -30px !important;
	}
}
.monkprotect-v2-modal__footer ul a:hover {
	text-decoration: underline !important;
}
</style>

<div style="max-width: 240px; margin: 20px auto;">
	<div style="display: flex; align-items: center; justify-content: center;">
		<img
			style="display: block; margin-top: -3px; width: 120px; max-width: 120px;"
			src="https://app.monkprotect.com/images/MonkProtect-logo-grey.webp"
			alt="Monk Protect Logo"
			width="120"
			height="auto"
		/>
		<button
			id="monkprotect-v2-info-button"
			style="background: none; min-height: auto; border: 0; width: auto; padding: 0; display: block; cursor: pointer; margin-left: 5px; box-shadow: none;"
			type="button"
		>
			<img
				style="display: block; width: 16px; height: 16px;"
				src="https://app.monkprotect.com/images/tooltip-icon.webp"
				alt="Monk Protect"
				width="16"
				height="16"
			/>
		</button>
	</div>
	<p style="text-align: center; padding: 0; margin: 15px 0; font-size: 13px; font-weight: 300; line-height: 20px; color: #000000;">
		qqqLost, stolen, or damaged goods protected by MonkProtect.
	</p>
</div>

<div
	id="monkprotect-v2-modal"
	class="monkprotect-v2-modal"
	style="box-sizing: border-box; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); z-index: 2147483647; display: none; align-items: center; justify-content: center; backdrop-filter: blur(20px); padding: 15px; overflow: auto;"
>
	<div class="monkprotect-v2-modal__content-wrapper">
		<div class="monkprotect-v2-modal__content" style="box-sizing: border-box; background: #ffffff; padding: 30px; border-radius: 8px; overflow: hidden; width: 100%; box-shadow: 0 8px 16px rgba(0, 0, 0, 0.29); position: relative; font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; color: #435279; text-align: center;">
			<div class="monkprotect-v2-modal__shape" style="width: 400px; height: 400px; border-radius: 60px; position: absolute; top: -229px; background: transparent linear-gradient(0, #8039ff 0%, #00d5ff 100%) 0 0 no-repeat padding-box; opacity: 0.4; left: 50%; transform: rotate(135deg) translateX(-50%); transform-origin: left center;">
			</div>
			<button
				type="button"
				id="monkprotect-v2-close-button"
				style="z-index: 1; position: absolute; right: 20px; top: 20px; width: 16px; height: 16px; background: none; border: 0; display: block; padding: 0; cursor: pointer; box-shadow: none;"
			>
				<span style="position: absolute; left: 7px; height: 20px; width: 1px; background-color: #061334; transform: translateY(-50%) rotate(45deg);"></span>
				<span style="position: absolute; left: 7px; height: 20px; width: 1px; background-color: #061334; transform: translateY(-50%) rotate(-45deg);"></span>
			</button>
			<div style="position: relative;">
				<div class="monkprotect-v2-modal__logo" style="margin: 20px 0 30px;">
					<img
						style="width: 230px; max-width: 100%;"
						src="https://app.monkprotect.com/images/MonkProtect-logo-horizontal.webp"
						alt="Monk Protect"
						width="230"
						height="auto"
					/>
				</div>
				<div class="monkprotect-v2-modal__info-wrapper" style="display: flex; flex-direction: column;">
					<div class="monkprotect-v2-modal__image">
						<img
							style="display: block; width: 100%; max-width: 100%;"
							src="https://app.monkprotect.com/images/MonkProtect-phone.webp"
							width="auto"
							height="auto"
							alt="phone"
						/>
					</div>
					<div class="monkprotect-v2-modal__main-text">
						<h2 class="monkprotect-v2-modal__heading" style="font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; font-weight: 600; font-size: 20px; color: #061334; line-height: 24px; margin: 0 0 24px; letter-spacing: 0; text-transform: none;">
							Secure delivery protection with MonkProtect&trade;
						</h2>
						<p style="font-size: 14px; line-height: 21px; margin: 0; font-weight: normal; letter-spacing: 0; color: #435279;">
							Your order's safe delivery is guaranteed with
							MonkProtect&trade;. Quickly resolve any potential order
							issues, like lost, damaged, or stolen goods, with just a
							few clicks via our online claims portal.
						</p>
					</div>
				</div>
			</div>
			<div class="monkprotect-v2-modal__footer" style="border-top: 1px solid #f0f1f2; margin-top: 30px; padding-top: 25px;">
				<div class="monkprotect-v2-modal__info">
					<ul style="display: flex; margin: 0; padding: 0; list-style: none; justify-content: center; line-height: 17px;">
						<li class="monkprotect-v2-modal__footer-list-item" style="margin-right: 6px; padding-right: 6px; position: relative;">
							<a
								style="color: #8039ff; font-size: 12px; text-decoration: none;"
								href="https://app.monkprotect.com"
								target="_blank"
								rel="noopener noreferrer"
							>File a Claim</a
							>
							<span style="background: #b4c5d7; position: absolute; right: 0; top: 2px; width: 1px; height: 15px; display: block;"></span>
						</li>
						<li class="monkprotect-v2-modal__footer-list-item" style="margin-right: 6px; padding-right: 6px; position: relative;">
							<a
								style="color: #8039ff; font-size: 12px; text-decoration: none;"
								href="https://www.monkprotect.com/privacy-policy/"
								target="_blank"
								rel="noopener noreferrer"
							>Privacy Policy</a
							>
							<span style="background: #b4c5d7; position: absolute; right: 0; top: 2px; width: 1px; height: 15px; display: block;"></span>
						</li>
						<li class="monkprotect-v2-modal__footer-list-item" style="margin-right: 6px; padding-right: 6px; position: relative;">
							<a
								style="color: #8039ff; font-size: 12px; text-decoration: none;"
								href="https://www.monkprotect.com/terms-of-service/"
								target="_blank"
								rel="noopener noreferrer"
							>Terms of Service</a
							>
						</li>
					</ul>
					<div class="monkprotect-v2-modal__copy" style="margin-top: 20px; font-size: 12px; color: #777e90;">
						&copy; MonkProtect&trade; <span id="monkprotect-v2-copyright-year"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
(function() {
	'use strict';
	function initMonkProtectBanner() {
		const infoButton = document.getElementById('monkprotect-v2-info-button');
		const modal = document.getElementById('monkprotect-v2-modal');
		const closeButton = document.getElementById('monkprotect-v2-close-button');
		const yearContainer = document.getElementById('monkprotect-v2-copyright-year');
		if (yearContainer) {
			const currentYear = new Date().getFullYear();
			yearContainer.textContent = `${currentYear}`;
		}
		if (infoButton && modal) {
			infoButton.addEventListener('click', function(e) {
				e.preventDefault();
				e.stopPropagation();
				if (modal.parentNode !== document.body) {
					document.body.appendChild(modal);
				}
				modal.style.display = 'block';
			});
		}
		if (closeButton && modal) {
			closeButton.addEventListener('click', function(e) {
				e.preventDefault();
				e.stopPropagation();
				modal.style.display = 'none';
			});
		}
		if (modal) {
			modal.addEventListener('click', function(e) {
				if (e.target === modal) {
					modal.style.display = 'none';
				}
			});
		}
		document.addEventListener('keydown', function(e) {
			if (e.key === 'Escape' && modal && modal.style.display !== 'none') {
				modal.style.display = 'none';
			}
		});
	}
	if (document.readyState === 'loading') {
		document.addEventListener('DOMContentLoaded', initMonkProtectBanner);
	} else {
		initMonkProtectBanner();
	}
})();
</script>
<!-- MonkProtect Banner Snippet End -->

                
            </div>
                <input type="submit" {% if has_subscriptions %}{% else %} name="checkout" onclick="checkoutCart(event);" {% endif %}
                  class="checkout_button cart__submit btn btn--small-wide" id="cart_checkout_btn"
                  value="{{ 'cart.general.checkout' | t }}">
                
                <script type="text/javascript">
                    document.getElementById("cart_checkout_btn").addEventListener('click',function (){
                        obApi('track', 'Initiate Checkout');
                    });
                </script>
              </div>

              <div class="cart__error-message-wrapper hide" role="alert" data-cart-error-message-wrapper>
                <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                {% include 'icon-error' %}
                <span class="cart__error-message" data-cart-error-message></span>
              </div>

            {% comment %}  {%- if additional_checkout_buttons -%}
                <div class="additional-checkout-buttons">{{ content_for_additional_checkout_buttons }}</div>
              {%- endif -%}{% endcomment %}
            </div>
          </div>
        </div>
      </div>
      
      {% if customer %}
      <input type="hidden" name="cust_id" value="{{customer.id}}">
      <input type="hidden" name="cust_fname" value="{{customer.first_name}}">
      <input type="hidden" name="cust_lname" value="{{customer.last_name}}">
      <input type="hidden" name="cust_email" value="{{customer.email}}">
      <input type="hidden" name="cust_mobile" value="{{customer.phone}}">
      <input type="hidden" name="cust_def_addr[address1]" value='{{customer.default_address.address1}}'>
      <input type="hidden" name="cust_def_addr[address2]" value='{{customer.default_address.address2}}'>
      <input type="hidden" name="cust_def_addr[city]" value='{{customer.default_address.city}}'>
      <input type="hidden" name="cust_def_addr[province_code]" value='{{customer.default_address.province_code}}'>
      <input type="hidden" name="cust_def_addr[country_code]" value='{{customer.default_address.country_code}}'>
      <input type="hidden" name="cust_def_addr[zip]" value='{{customer.default_address.zip}}'>
      {% endif %}
      <input type="hidden" name="cart" id="cart_json" value="{{ cart | json | escape }}"/>
      <input type="hidden" name="shop_url" id="shop_url" value="{{ request.host }}">
    </form>

    <p class="visually-hidden" data-cart-status
      aria-live="polite"
      role="status"
    ></p>
  </div>

  <div class="empty-page-content{% if cart.item_count > 0 %} hide{% endif %} text-center" data-empty-page-content>
    <h1>{{ 'cart.general.title' | t }}</h1>
    <p class="cart--empty-message">{{ 'cart.general.empty' | t }}</p>
    <div class="cookie-message">
      <p>{{ 'cart.general.cookies_required' | t }}</p>
    </div>
    <a href="{{ routes.root_url }}" class="btn btn--has-icon-after cart__continue-btn">{{ 'general.404.link' | t }}{% include 'icon-arrow-right' %}</a>
  </div>
</div>
	<div class="checkout-upsell-wrap">	
  	
{%  assign addedHandles = '' %}	
{%  assign collectionsHandle = '' %}	
{%- for item in cart.items -%}	
  {%  assign addedHandles = addedHandles |append:item.product.handle  %}	
  {% assign itemLength = forloop.length %}	
 {% assign collectionsHandle =  collectionsHandle | append:'+'  | append: item.product.collections[0].handle   %}	
  {% assign cartLineCount = forloop.length %}	
{% endfor %}	
{%- assign collectionss = collectionsHandle  | remove_first: '+'  | split:'+'  | uniq -%}	
{%-  for  collection in collectionss -%}	
   {% assign handleLength = forloop.length %}	
{% endfor %}	
  {% if itemLength != handleLength  %}	
    {% assign newLength = handleLength %}	
     {% else %}	
    {% assign newLength = itemLength %}	
  {% endif %}	
  {% if newLength == 1 %}	
    {% assign loopLength = 4 %}	
  {% elsif newLength == 2 or newLength == 3    %}	
      {% assign loopLength = 2 %}	
  {% elsif newLength >= 4  %}	
      {% assign loopLength = 1 %}	
  {% endif %}	
  {% assign checkLimit = 0 %}  	
  {% assign collectionsLength = 4 %}	
  {% if newLength == 2 or newLength == 3    %}	
    {% assign collectionsLength = 2 %}	
  {% else %}	
    {% assign collectionsLength = 4 %}	
    {% endif %}	
<div class="checkout-upsell">  	
<h4 class="super-title">Boost Your Daily Wellness!</h4>	
  <h3 class="primary-title">Try our best selling favorites.</h3>	
  {%-  for  collection in collectionss limit:collectionsLength -%}	

  {%- for product in collections[collection].products -%}	

    {% unless addedHandles contains product.handle %}	
   	
      <div class="new-upsell-product-block">	
        <div class="upsell-product-detail">	
          <div class="upsell-product-image">	
            <img src="{{ product.featured_image | img_url:'400x' }}">	
          </div>	
          <div class="upsell-product-title">	
           <span class="upsell-product-title">{{ product.title }}</span>	
            <span class="upsell-product-price">{{ product.price | money }}</span>	
          </div>	
        </div>	
        <div class="upsell-product-add">	
          <span data-id="{{ product.selected_or_first_available_variant.id }}" class="upsell-add btn">add </span>	
        </div>	
      </div>	
      {% assign checkLimit = checkLimit  | plus:1  %}	
    {% endunless %}	
    {% if checkLimit == loopLength %}	
       {% assign checkLimit = 0 %} 	
      {% break %}	
    {% endif %}	
  {%- endfor -%}	
{% endfor %}	
</div>	
</div>	
<style>	
  .checkout-upsell-wrap{	
    display:none;	
  }	
  </style>
<script>
	function setShopURL(){
		document.getElementById('shop_url').value = Shopify.shop; 
	}
	function updateCart(e){
		e.preventDefault();
		setShopURL();
		document.getElementById('cart_form').action="/cart";
		document.getElementById('cart_form').submit();
	}
	function checkoutCart(e){
		e.preventDefault();
		e.target.value = 'Please wait...';
		setShopURL();
		
		var xhttp = new XMLHttpRequest();
		//xhttp.onreadystatechange = function() {
		//	if (this.readyState == 4 && this.status == 200) {
		//		e.target.value = 'Checkout';
		//		document.getElementById('cart_json').value = this.responseText; 
				
		//		document.getElementById('cart_form').action="/a/apps/square-payment-republic/index.php?do=checkout";
		//		document.getElementById('cart_form').submit();
		//	}
		};
		xhttp.open("GET", "cart.js", true);
		xhttp.send();
	}
	setShopURL();
</script>

{% schema %}
{
  "name": {
    "da": "Side med indkøbskurv",
    "de": "Warenkorb-Seite",
    "en": "Cart page",
    "es": "Página de carrito",
    "fi": "Ostoskorisivu",
    "fr": "Page du panier",
    "hi": "कार्ट पेज",
    "it": "Pagina del carrello",
    "ja": "カートページ",
    "ko": "카트 페이지",
    "ms": "Halaman troli",
    "nb": "Handlekurvside",
    "nl": "Winkelwagenpagina",
    "pt-BR": "Página do carrinho",
    "pt-PT": "Página do carrinho",
    "sv": "Varukorgssida",
    "th": "หน้าตะกร้า",
    "zh-CN": "购物车页面",
    "zh-TW": "購物車頁面"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "cart_ajax_enable",
      "label": {
        "da": "Aktivér automatisk opdatering af indkøbskurv",
        "de": "Automatische Warenkorbaktualisierungen aktivieren",
        "en": "Enable automatic cart updates",
        "es": "Habilitar las actualizaciones automáticas del carrito de compra",
        "fi": "Ota automaattinen ostoskorin päivitykset käyttöön",
        "fr": "Activer les mises à jour automatiques",
        "hi": "स्वचालित कार्ट अपडेट सक्षम करें",
        "it": "Abilita aggiornamenti automatici carrello",
        "ja": "自動カートの更新を有効にする",
        "ko": "자동 카트 업데이트 활성화하기",
        "ms": "Dayakan kemas kini troli automatik",
        "nb": "Aktiver automatiske oppdateringer av handlekurven",
        "nl": "Automatische winkelwagen-updates inschakelen",
        "pt-BR": "Permitir atualizações automáticas do carrinho",
        "pt-PT": "Ativar atualizações automáticas do carrinho",
        "sv": "Aktivera automatiska uppdateringar av varukorgen",
        "th": "เปิดใช้งานการอัปเดตตะกร้าสินค้าอัตโนมัติ",
        "zh-CN": "启用购物车自动更新功能",
        "zh-TW": "啟用自動更新購物車"
      },
      "info": {
        "da": "Opdaterer indkøbskurven, så snart kunden foretager ændringer",
        "de": "Aktualisiert den Warenkorb, sobald Kundenänderungen vorgenommen werden",
        "en": "Updates the cart as soon as customer changes are made",
        "es": "Actualiza el carrito de compra tan pronto como el cliente realice cambios",
        "fi": "Päivittää ostoskorin heti, kun asiakkaan muutokset on tehty",
        "fr": "Mise à jour du panier dès que les modifications apportées aux clients ont été effectuées",
        "hi": "ग्राहक के द्वारा परिवर्तन करते ही कार्ट को अपडेट हो जाता है",
        "it": "Aggiorna il carrello appena il cliente apporta le modifiche",
        "ja": "お客様が変更されるとすぐにカートを更新します",
        "ko": "고객 변경 시 카트를 업데이트합니다.",
        "ms": "Kemas kini troli sebaik sahaja perubahan pelanggan dibuat",
        "nb": "Oppdaterer handlekurven så snart kundens endringer er gjort",
        "nl": "De winkelwagen wordt bijgewerkt zodra de klant wijzigingen aanbrengt",
        "pt-BR": "Atualiza o carrinho assim que o cliente faz alterações",
        "pt-PT": "Atualiza o carrinho assim que o cliente faz alterações",
        "sv": "Uppdaterar varukorgen så snart kundändringar görs",
        "th": "อัปเดตตะกร้าสินค้าเมื่อลูกค้าได้ทำการเปลี่ยนแปลง",
        "zh-CN": "客户做出更改后立即更新购物车",
        "zh-TW": "在顧客進行變更時立即更新購物車"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "cart_notes_enable",
      "label": {
        "da": "Aktivér bemærkninger til indkøbskurv",
        "de": "Warenkorb-Notifikationen erlauben",
        "en": "Enable cart notes",
        "es": "Habilitar notas de carrito",
        "fi": "Ota ostoskorin huomautukset käyttöön",
        "fr": "Activer les notes de panier",
        "hi": "कार्ट नोट्स सक्षम करें",
        "it": "Abilita note carrello",
        "ja": "カートメモを有効にする",
        "ko": "카트 참고 사항 사용",
        "ms": "Dayakan nota troli",
        "nb": "Aktiver handlekurvmerknader",
        "nl": "Notities voor winkelwagen inschakelen",
        "pt-BR": "Ativar observações sobre o carrinho",
        "pt-PT": "Ativar notas do carrinho",
        "sv": "Aktivera varukorgsmeddelanden",
        "th": "เปิดใช้หมายเหตุของตะกร้าสินค้า",
        "zh-CN": "启用购物车备注",
        "zh-TW": "啟用購物車備註"
      },
      "default": false
    }
  ]
}
{% endschema %}
