{% style %}

  [data-section-id="{{ section.id }}"] {
    background-color: {{ section.settings.background_color }};
  }

  [data-section-id="{{ section.id }}"] h2 {
    font-family: "{{ section.settings.heading_font }}";
    color: {{ section.settings.text_color }};
    font-size: 3rem;
    font-weight: bold;
  }

  [data-section-id="{{ section.id }}"] h4 {
    font-family: "{{ section.settings.subheading_font }}";
    color: {{ section.settings.text_color }};
    font-size: 2rem;
  }

  [data-section-id="{{ section.id }}"] .icon-title {
    font-family: "{{ section.settings.icon_title_font }}";
    color: {{ section.settings.text_color }};
  }

{% endstyle %}

{% liquid

  assign use_icons = false

  for block in section.blocks
    assign use_icons = true
    break
  endfor
-%}

<div data-section-id="{{ section.id }}">
  <div class="jr-heading-with-icons jr jr-padding {{ section.settings.section_alignment }}">
    {% if section.settings.header != blank %}
      <h2>{{ section.settings.header }}</h2>
    {% endif %}
    {% if section.settings.subheader != blank %}
      <h4>{{ section.settings.subheader }}</h4>
    {% endif %}
    {% if use_icons %}
      <div class="icons-container">
        {% for block in section.blocks %}
          <div class="icon-container">
            <img src="{{ block.settings.icon | image_url: width: 100 }}" alt="Kush Queen Icon">
            <p class="icon-title">{{ block.settings.title }}</p>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Heading with Icons",
    "settings": [
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default": "#ffffff"
      },
      {
        "type": "text",
        "id": "header",
        "label": "Section header",
        "default": "Lorum Ipsum"
      },
      {
        "type": "select",
        "id": "heading_font",
        "label": "Heading Font",
        "default": "Eina03",
        "options": [
          {
            "label": "Room205",
            "value": "Room205"
          }, {
            "label": "Gotham",
            "value": "Gotham"
          }, {
            "label": "Gotham Bold",
            "value": "Gotham-bold"
          }, {
            "label": "Eina03",
            "value": "Eina03"
          }
        ]
      }, {
        "type": "text",
        "id": "subheader",
        "label": "Section subheader",
        "default": "Lorum Ipsum Dolor sit amet"
      }, {
        "type": "select",
        "id": "subheading_font",
        "label": "Sub Heading Font",
        "default": "Eina03",
        "options": [
          {
            "label": "Room205",
            "value": "Room205"
          }, {
            "label": "Gotham",
            "value": "Gotham"
          }, {
            "label": "Gotham Bold",
            "value": "Gotham-bold"
          }, {
            "label": "Eina03",
            "value": "Eina03"
          }
        ]
      }, {
        "type": "select",
        "id": "icon_title_font",
        "label": "Icon title font",
        "default": "Eina03",
        "options": [
          {
            "label": "Room205",
            "value": "Room205"
          }, {
            "label": "Gotham",
            "value": "Gotham"
          }, {
            "label": "Gotham Bold",
            "value": "Gotham-bold"
          }, {
            "label": "Eina03",
            "value": "Eina03"
          }
        ]
      }, 
      {
        "type": "select",
        "id": "section_alignment",
        "label": "Section Alignment",
        "default": "center-aligned",
        "options": [
          {
            "value": "left-aligned",
            "label": "Left Aligned"
          }, {
            "value": "center-aligned",
            "label": "Center Aligned"
          }, {
            "value": "right-aligned",
            "label": "Right Aligned"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "icon",
        "name": "Icon Block",
        "settings": [
          {
            "type": "image_picker",
            "id": "icon",
            "label": "Icon"
          }, {
            "type": "text",
            "id": "title",
            "label": "Icon title"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Heading with icons"
      }
    ]
  }
{% endschema %}