{% liquid
  assign margin_adjustments = ''

  case section.settings.text_alignment
    when 'left'
      assign alignment = 'text-align: left;'
      assign margin_adjustments = 'margin: 0; max-width: 700px;'
    when 'center'
      assign alignment = 'text-align: center;'
    when 'right'
      assign alignment = 'text-align: right;'
  endcase
-%}

{% style %}
  [data-section-id="{{ section.id }}"] h2,
  [data-section-id="{{ section.id }}"] h3,
  [data-section-id="{{ section.id }}"] li {
    color: {{ section.settings.section_text_color }} !important;
  }

  [data-section-id="{{ section.id }}"] .hero {
    background-image: url({{ section.settings.image | img_url: 'master' }});
  }

  [data-section-id="{{ section.id }}"] h2 {
    font-family: "{{ section.settings.heading_font }}";
  }
  [data-section-id="{{ section.id }}"] .hero-v2__block {
    font-family: "{{ section.settings.content_font }}";
  }

  [data-section-id="{{ section.id }}"] .hero__overlay:before {
    background-color: black !important;
    opacity: {{ section.settings.overlay_percent }}% !important;
  }

  [data-section-id="{{ section.id }}"] .btn {
    background-color: transparent;
    color: white;
    border: 0.5px solid white;
  }
  [data-section-id="{{ section.id }}"] .btn:hover {
    background-color: black;
    border: 0.5px solid black;
  }

  [data-section-id="{{ section.id }}"] .page-width {
    {{ alignment }}
  }

  [data-section-id="{{ section.id }}"] .page-width .mega-subtitle {
    {{ margin_adjustments }}
  }

  {%-liquid
    assign mobile_image = section.settings.image
    if section.settings.mobile_image != blank
      assign mobile_image = section.settings.mobile_image
    endif
  %}
  @media (max-width: 768px) {
    [data-section-id="{{ section.id }}"] .hero {
      background-image: url({{ mobile_image | img_url: 'master' }});
    }
  }
{% endstyle %}

{%- if section.settings.hero_layout == 'full_width' and section.settings.hero_size == 'adapt' -%}
  {%- if section.settings.image.aspect_ratio == blank -%}
    {%- assign min_aspect_ratio = 2.0 -%}
  {%- else -%}
    {%- assign min_aspect_ratio = section.settings.image.aspect_ratio -%}
  {%- endif -%}
  {%- assign wrapper_height = 100 | divided_by: min_aspect_ratio -%}
  {%- style -%}
    .hero-{{ section.id }} {
      height: {{- wrapper_height -}}vw !important;
    }
  {%- endstyle -%}
{%- endif -%}
<div data-section-id="{{ section.id }}" data-section-type="hero-section">
  {%- if section.settings.hero_layout == 'fixed_width' -%}
    <div class="page-width">
  {%- endif -%}
  {%- if section.settings.hero_layout == 'fixed_width' and section.settings.hero_size == 'adapt' -%}
    {%- assign slide_width = 1090 -%}
    {%- assign min_aspect_ratio = section.settings.image.aspect_ratio | default: 2.0 -%}
    <div
      class="hero-fixed-width hero--adapt"
      id="Hero-{{ section.id }}"
      data-layout="{{ section.settings.hero_layout }}"
    >
      {%- assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
      {%- if section.settings.image.width < max_width -%}
        {%- assign slide_width = section.settings.image.width -%}
      {%- endif -%}
      <div class="hero-fixed-width__content">
        <div class="page-width">
          <div class="hero-v2__content-wrapper">
            {%- if section.settings.title != blank -%}
              <h2 class="h1 mega-title">
                {{ section.settings.title | escape }}
              </h2>
            {%- endif -%}
            <div class="hero-v2__blocks-wrapper">
              <ul>
                {% for block in section.blocks %}
                  {% if block.type == 'block' and block.settings.value_prop != blank %}
                    <li class="hero-v2__block">{{ block.settings.value_prop }}</li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
            {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}
              <a href="{{ section.settings.button_link }}" class="btn btn--secondary">
                {{ section.settings.button_label | escape }}
              </a>
            {%- endif -%}
          </div>
        </div>
      </div>
  {%- else -%}
    <div
      class="hero hero--{{ section.settings.hero_size }} hero-{{ section.id }}{% if section.settings.title != blank or section.settings.text != blank or section.settings.button_label != blank %} hero__overlay{% endif %} box ratio-container lazyload js"
      id="Hero-{{ section.id }}"
      data-layout="{{ section.settings.hero_layout }}"
    >
      {%- if section.settings.image == blank -%}
        <div class="placeholder-background">
          {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
      {%- endif -%}
      <div class="hero__inner">
        <div class="page-width">
          <div class="hero-v2__content-wrapper">
            {%- if section.settings.title != blank -%}
              <h2 class="h1 mega-title">
                {{ section.settings.title | escape }}
              </h2>
            {%- endif -%}
            <div class="hero-v2__blocks-wrapper">
              <ul>
                {% for block in section.blocks %}
                  {% if block.type == 'block' and block.settings.value_prop != blank %}
                    <li class="hero-v2__block">{{ block.settings.value_prop }}</li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
          {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}
            <a href="{{ section.settings.button_link }}" class="btn btn--secondary">
              {{ section.settings.button_label | escape }}
            </a>
          {%- endif -%}
        </div>
      </div>
    </div>
  {%- endif -%}
  {%- if section.settings.hero_layout == 'fixed_width' -%}
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "Hero v2",
  "class": "index-section--flush hero-v2",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": {
        "da": "Billede",
        "de": "Foto",
        "en": "Image",
        "es": "Imagen",
        "fi": "Kuva",
        "fr": "Image",
        "hi": "इमेज",
        "it": "Immagine",
        "ja": "画像",
        "ko": "이미지",
        "ms": "Imej",
        "nb": "Bilde",
        "nl": "Afbeelding",
        "pt-BR": "Imagem",
        "pt-PT": "Imagem",
        "sv": "Bild",
        "th": "รูปภาพ",
        "zh-CN": "图片",
        "zh-TW": "圖片"
      }
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile image"
    },
    {
      "type": "select",
      "id": "alignment",
      "label": {
        "da": "Justering af billede",
        "de": "Fotoausrichtung",
        "en": "Image alignment",
        "es": "Alineación de imagen",
        "fi": "Kuvan tasaus",
        "fr": "Alignement de l'image",
        "hi": "इमेज पंक्तिबद्ध करना",
        "it": "Allineamento immagine",
        "ja": "画像アラインメント",
        "ko": "이미지 정렬",
        "ms": "Penjajaran imej",
        "nb": "Bildejustering",
        "nl": "Afbeelding uitlijnen",
        "pt-BR": "Alinhamento da imagem",
        "pt-PT": "Alinhamento da imagem",
        "sv": "Bildjustering",
        "th": "การจัดวางรูปภาพ",
        "zh-CN": "图片对齐方式",
        "zh-TW": "圖片對齊"
      },
      "default": "center",
      "options": [
        {
          "value": "top",
          "label": {
            "da": "Top",
            "de": "Oben",
            "en": "Top",
            "es": "Superior",
            "fi": "Ylös",
            "fr": "Haut",
            "hi": "सबसे ऊपर",
            "it": "In alto",
            "ja": "上",
            "ko": "위쪽",
            "ms": "Atas",
            "nb": "Topp",
            "nl": "Boven",
            "pt-BR": "Acima",
            "pt-PT": "Acima",
            "sv": "Högst upp",
            "th": "ด้านบน",
            "zh-CN": "顶部",
            "zh-TW": "頂部"
          }
        },
        {
          "value": "center",
          "label": {
            "da": "I midten",
            "de": "Mitte",
            "en": "Middle",
            "es": "Al medio",
            "fi": "Keskelle",
            "fr": "Milieu",
            "hi": "मध्य में",
            "it": "Al centro",
            "ja": "中央",
            "ko": "중간",
            "ms": "Tengah",
            "nb": "Midten",
            "nl": "Midden",
            "pt-BR": "Meio",
            "pt-PT": "Meio",
            "sv": "Mitten",
            "th": "ตรงกลาง",
            "zh-CN": "中间",
            "zh-TW": "中央"
          }
        },
        {
          "value": "bottom",
          "label": {
            "da": "Bund",
            "de": "Unten",
            "en": "Bottom",
            "es": "Inferior",
            "fi": "Alas",
            "fr": "Bas",
            "hi": "नीचे का",
            "it": "In basso",
            "ja": "下",
            "ko": "아래쪽",
            "ms": "Bawah",
            "nb": "Bunn",
            "nl": "Onder",
            "pt-BR": "Abaixo",
            "pt-PT": "Abaixo",
            "sv": "Längst ner",
            "th": "ด้านล่าง",
            "zh-CN": "底部",
            "zh-TW": "底部"
          }
        }
      ]
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "text alignment",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "left"
        },
        {
          "value": "center",
          "label": "center"
        },
        {
          "value": "right",
          "label": "right"
        }
      ]
    },
    {
      "type": "select",
      "id": "hero_layout",
      "label": {
        "da": "Layout",
        "de": "Layout",
        "en": "Layout",
        "es": "Diseño",
        "fi": "Asettelu",
        "fr": "Mise en page",
        "hi": "लेआउट",
        "it": "Layout",
        "ja": "レイアウト",
        "ko": "레이아웃",
        "ms": "Tata letak",
        "nb": "Oppsett",
        "nl": "Indeling",
        "pt-BR": "Layout",
        "pt-PT": "Esquema",
        "sv": "Layout",
        "th": "เลย์เอาต์",
        "zh-CN": "布局",
        "zh-TW": "版面配置"
      },
      "default": "full_width",
      "options": [
        {
          "label": {
            "da": "Fuld bredde",
            "de": "Volle Breite",
            "en": "Full width",
            "es": "Ancho completo",
            "fi": "Täysi leveys",
            "fr": "Pleine largeur",
            "hi": "पूर्ण चौड़ाई",
            "it": "Intera larghezza",
            "ja": "全幅",
            "ko": "전체 폭",
            "ms": "Lebar penuh",
            "nb": "Full bredde",
            "nl": "Volledige breedte",
            "pt-BR": "Largura completa",
            "pt-PT": "Largura total",
            "sv": "Full bredd",
            "th": "เต็มความกว้าง",
            "zh-CN": "全宽",
            "zh-TW": "全寬度"
          },
          "value": "full_width"
        },
        {
          "label": {
            "da": "Fast bredde",
            "de": "Feste Breite",
            "en": "Fixed width",
            "es": "Ancho fijo",
            "fi": "Kiinteä leveys",
            "fr": "Largeur fixe",
            "hi": "निश्चित चौड़ाई",
            "it": "Larghezza fissa",
            "ja": "固定幅",
            "ko": "고정 폭",
            "ms": "Lebar tetap",
            "nb": "Fast bredde",
            "nl": "Vaste breedte",
            "pt-BR": "Largura fixa",
            "pt-PT": "Largura fixa",
            "sv": "Fast bredd",
            "th": "ความกว้างตายตัว",
            "zh-CN": "固定宽度",
            "zh-TW": "固定寬度"
          },
          "value": "fixed_width"
        }
      ]
    },
    {
      "type": "select",
      "id": "hero_size",
      "label": {
        "da": "Højde på afsnit",
        "de": "Bereichs-Höhe",
        "en": "Section height",
        "es": "Altura de la sección",
        "fi": "Osan korkeus",
        "fr": "Hauteur de la section",
        "hi": "सेक्शन की ऊंचाई",
        "it": "Altezza sezione",
        "ja": "セクションの高さ",
        "ko": "섹션 높이",
        "ms": "Ketinggian bahagian",
        "nb": "Høyde på del",
        "nl": "Sectiehoogte",
        "pt-BR": "Altura da seção",
        "pt-PT": "Altura da secção",
        "sv": "Sektionshöjd",
        "th": "ความสูงของส่วน",
        "zh-CN": "分区高度",
        "zh-TW": "區塊高度"
      },
      "default": "medium",
      "options": [
        {
          "label": {
            "da": "Tilpas til billede",
            "de": "An Bild anpassen",
            "en": "Adapt to image",
            "es": "Adaptar a la imagen",
            "fi": "Sovita kuvaan",
            "fr": "S'adapter à l'image",
            "hi": "इमेज के अनुकूल बनाएं",
            "it": "Adatta all'immagine",
            "ja": "画像に適応する",
            "ko": "이미지에 맞춤",
            "ms": "Menyesuaikan imej",
            "nb": "Tilpass til bilde",
            "nl": "Aanpassen aan afbeelding",
            "pt-BR": "Adaptar à imagem",
            "pt-PT": "Adaptar à imagem",
            "sv": "Anpassa till bild",
            "th": "ปรับตามรูปภาพ",
            "zh-CN": "适应图片",
            "zh-TW": "配合圖片"
          },
          "value": "adapt"
        },
        {
          "label": {
            "da": "Ekstra lille",
            "de": "Extra klein",
            "en": "Extra Small",
            "es": "Extra pequeña",
            "fi": "Erikoispieni",
            "fr": "Très petite",
            "hi": "अतिरिक्त छोटा",
            "it": "Molto piccola",
            "ja": "極小",
            "ko": "특소",
            "ms": "Lebih Kecil",
            "nb": "Ekstra liten",
            "nl": "Extra klein",
            "pt-BR": "Extra pequeno",
            "pt-PT": "Extra pequeno",
            "sv": "Extra liten",
            "th": "ขนาดเล็กพิเศษ",
            "zh-CN": "特小",
            "zh-TW": "超小型"
          },
          "value": "x-small"
        },
        {
          "label": {
            "da": "Lille",
            "de": "Klein",
            "en": "Small",
            "es": "Pequeña",
            "fi": "Pieni",
            "fr": "Petite",
            "hi": "छोटा",
            "it": "Small",
            "ja": "小",
            "ko": "스몰",
            "ms": "Kecil",
            "nb": "Liten",
            "nl": "Klein",
            "pt-BR": "Pequeno",
            "pt-PT": "Pequeno",
            "sv": "Liten",
            "th": "เล็ก",
            "zh-CN": "小",
            "zh-TW": "小型"
          },
          "value": "small"
        },
        {
          "label": {
            "da": "Medium",
            "de": "Mitte",
            "en": "Medium",
            "es": "Mediana",
            "fi": "Keskisuuri",
            "fr": "Moyenne",
            "hi": "मध्यम",
            "it": "Medium",
            "ja": "中",
            "ko": "보통",
            "ms": "Sederhana",
            "nb": "Middels",
            "nl": "Gemiddeld",
            "pt-BR": "Médio",
            "pt-PT": "Médio",
            "sv": "Medium",
            "th": "ปานกลาง",
            "zh-CN": "中等",
            "zh-TW": "中等"
          },
          "value": "medium"
        },
        {
          "label": {
            "da": "Stor",
            "de": "Groß",
            "en": "Large",
            "es": "Grande",
            "fi": "Suuri",
            "fr": "Grande",
            "hi": "बड़ा",
            "it": "Large",
            "ja": "大",
            "ko": "라지",
            "ms": "Besar",
            "nb": "Stor",
            "nl": "Groot",
            "pt-BR": "Grande",
            "pt-PT": "Grande",
            "sv": "Stor",
            "th": "ใหญ่",
            "zh-CN": "大",
            "zh-TW": "大型"
          },
          "value": "large"
        },
        {
          "label": {
            "da": "Ekstra stor",
            "de": "Extra groß",
            "en": "Extra Large",
            "es": "Extra grande",
            "fi": "Erikoissuuri",
            "fr": "Très grande",
            "hi": "अतिरिक्त बड़ा",
            "it": "Molto grande",
            "ja": "特大",
            "ko": "특대",
            "ms": "Lebih Besar",
            "nb": "Ekstra stort",
            "nl": "Extra groot",
            "pt-BR": "Extra grande",
            "pt-PT": "Extra grande",
            "sv": "Extra stor",
            "th": "ขนาดใหญ่พิเศษ",
            "zh-CN": "特大",
            "zh-TW": "超大型"
          },
          "value": "x-large"
        }
      ]
    },
    {
      "type": "text",
      "id": "title",
      "label": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "En-tête",
        "hi": "शीर्षक",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "ms": "Tajuk",
        "nb": "Overskrift",
        "nl": "Kop",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
      "default": {
        "da": "Billede med tekstoverlejring",
        "de": "Foto mit überlegtem Text",
        "en": "Image with text overlay",
        "es": "Imagen con texto",
        "fi": "Kuva päällä olevalla tekstillä",
        "fr": "Image avec superposition de texte",
        "hi": "पाठ ओवरले के साथ इमेज",
        "it": "Immagine con testo",
        "ja": "テキストオーバーレイ付き画像",
        "ko": "텍스트 오버레이 포함 이미지",
        "ms": "Imej dengan tindanan teks",
        "nb": "Bilde med tekstoverlegg",
        "nl": "Foto met tekstoverlay",
        "pt-BR": "Imagem com sobreposição de texto",
        "pt-PT": "Imagem com sobreposição de texto",
        "sv": "Bild med textöverlagring",
        "th": "การวางซ้อนรูปภาพพร้อมข้อความ",
        "zh-CN": "带文本叠加的图片",
        "zh-TW": "附文字疊加的圖片"
      }
    },
    {
      "type": "color",
      "id": "section_text_color",
      "label": "Section Text Color",
      "default": "#FFFFFF"
    },
    {
      "type": "range",
      "id": "overlay_percent",
      "label": "Overlay Percent",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1
    },
    {
      "type": "select",
      "id": "heading_font",
      "label": "Heading Font",
      "default": "Eina03",
      "options": [
        {
          "label": "Room205",
          "value": "Room205"
        },
        {
          "label": "Gotham",
          "value": "Gotham"
        },
        {
          "label": "Gotham Bold",
          "value": "Gotham-bold"
        },
        {
          "label": "Eina03",
          "value": "Eina03"
        }
      ]
    },
    {
      "type": "select",
      "id": "content_font",
      "label": "Content Font",
      "default": "Eina03",
      "options": [
        {
          "label": "Room205",
          "value": "Room205"
        },
        {
          "label": "Gotham",
          "value": "Gotham"
        },
        {
          "label": "Gotham Bold",
          "value": "Gotham-bold"
        },
        {
          "label": "Eina03",
          "value": "Eina03"
        }
      ]
    },
    {
      "type": "text",
      "id": "button_label",
      "label": {
        "da": "Knapetiket",
        "de": "Button-Etikett",
        "en": "Button label",
        "es": "Etiqueta de botón",
        "fi": "Painikkeen merkintä",
        "fr": "Texte du bouton",
        "hi": "बटन लेबल",
        "it": "Etichetta pulsante",
        "ja": "ボタンラベル",
        "ko": "버튼 레이블",
        "ms": "Label butang",
        "nb": "Knappetikett",
        "nl": "Knoplabel",
        "pt-BR": "Etiqueta do botão",
        "pt-PT": "Etiqueta do botão",
        "sv": "Knappetikett",
        "th": "ป้ายกำกับปุ่ม",
        "zh-CN": "按钮标签",
        "zh-TW": "按鈕標籤"
      }
    },
    {
      "type": "url",
      "id": "button_link",
      "label": {
        "da": "Knaplink",
        "de": "Button-Etikett",
        "en": "Button link",
        "es": "Enlace de botón",
        "fi": "Painikkeen linkki",
        "fr": "Lien du bouton",
        "hi": "बटन लिंक",
        "it": "Link pulsante",
        "ja": "ボタンリンク",
        "ko": "버튼 링크",
        "ms": "Pautan butang",
        "nb": "Kobling for knapp",
        "nl": "Knoplink",
        "pt-BR": "Link do botão",
        "pt-PT": "Ligação do botão",
        "sv": "Knapplänk",
        "th": "ลิงก์ของปุ่ม",
        "zh-CN": "按钮链接",
        "zh-TW": "按鈕連結"
      }
    }
  ],
  "blocks": [
    {
      "name": "Value Props",
      "type": "block",
      "settings": [
        {
          "type": "text",
          "id": "value_prop",
          "label": "Value Prop"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero v2"
    }
  ]
}
{% endschema %}
