<section class="custom-collection">
  <div class="page-width">
    <div class="collection-list grid">
      {% for block in section.blocks %}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "wc_product_visibility", resource: block %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop End {%- endcomment -%}

        {% case block.type %}
          {% when 'add_collection' %}
          <div class="grid__item medium-up--one-half paddingtop">
            <div class="banners_item banners_item_{{ forloop.index }}">
              {% if block.settings.collection_img.size > 0 %}
                <div class="banner_img">
                  <img
                    alt=""
                    class="lazyload"
                    src="data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'%20width='{{ block.settings.collection_img.width }}'%20height='{{ block.settings.collection_img.height }}'></svg>"
                    data-src="{{ block.settings.collection_img | img_url: 'master' }}" />
                </div>
              {% else %}
                <div class="img_placeholder__wrap banner_img">
                  {{ 'image' | placeholder_svg_tag: 'img_placeholder' }}
                </div>
              {% endif %}

              {% if block.settings.collection_title_link != blank %}
                <div class="col-banner-link-wrap">
                  <a class="banner-link" href="{{block.settings.collection_title_link}}">
                    {{ block.settings.collection_link_title }}
                  </a>
                </div>
              {% endif %}
            </div>
          </div>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</section>
{% schema %}
  {
    "name": "Home custom collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }
    ],
    "blocks": [
      {
        "type": "add_collection",
        "name": "Image Collection",
        "settings": [
          {
            "type": "image_picker",
            "id": "collection_img",
            "label": "Image"
          }, {
            "type": "url",
            "id": "collection_title_link",
            "label": "Link"
          }, {
            "type": "text",
            "id": "collection_link_title",
            "label": "Title"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Home custom collection",
        "category": "Image",
        "blocks": [
          {
            "type": "add_collection"
          }, {
            "type": "add_collection"
          }
        ]
      }
    ]
  }
{% endschema %}