<div class="page-width">
{% include 'rev_home-sliders-final-sept-2019-correct-order-21' %}
</div>

{% comment %}{% if section.blocks.size > 0 %}
<div class="page-width">
  <div class="slider-main-content-wrap">
    <div class="home-slideshow">
      {% assign counter = 0 %}
      {% for block in section.blocks %}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "wc_product_visibility", resource: block %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop End {%- endcomment -%}

      <div>
        <div class="home-banner-slider-section-wrapper" style="background-color:{{block.settings.banner_bg_clr}}">
          <div class="home-main-banner-wrap">
            {% if block.settings.banner_tp_text != blank %}
            <div class="home-banner-top-shrt-txt">
              <span class="txt-bnr-wrap">
                {{block.settings.banner_tp_text}}
              </span>
            </div>
            {% endif %}

            {% if block.settings.banner_title_text != blank %}
            <div class="home-banner-title-txt">
              {{block.settings.banner_title_text}}
            </div>
            {% endif %}

            {% if block.settings.banner_from_text != blank or block.settings.banner_amt_text != blank %}
            <div class="home-banner-frm-amt-wrap">
              {% if block.settings.banner_from_text != blank %}
              <div class="home-banner-frm-wrap">
                {{block.settings.banner_from_text}}
              </div>
              {% endif %}

              {% if block.settings.banner_amt_text != blank %}
              <div class="home-banner-amt-wrap">
                {{block.settings.banner_amt_text}}
              </div>
              {% endif %}
            </div>
            {% endif %}

            {% if block.settings.banner_img != blank %}
            <div class="home-banner-img-container">
              <img src="{{block.settings.banner_img | img_url: 'master'}}" alt="{{block.settings.banner_img.alt}}" />
            </div>
            {% endif %}

            {% if block.settings.banner_img != blank %}
            <div class="home-visible-banner-img-container">
              <img src="{{block.settings.banner_img | img_url: 'master'}}" alt="{{block.settings.banner_img.alt}}" />
            </div>
            {% endif %}

            {% if block.settings.banner_link != blank %}
            <div class="banner-btn-wrap">
              <a href="{{block.settings.banner_link}}">
                {{block.settings.banner_link_text}}
              </a>
            </div>
            {% endif %}

            {% if block.settings.banner_btm_text != blank %}
            <div class="home-banner-btm-txt-wrap">
              {{block.settings.banner_btm_text}}
            </div>
            {% endif %}
          </div>
        </div>
      </div>

      {% assign counter = counter | plus: 1 %}
      {% endfor %}
    </div>
    <div class="pagingInfo"><span class="current_slide_info">1</span> <span class="total_slide_info">/ {{counter}}</span></div>
  </div>
</div>
{% endif %}{% endcomment %}
{% schema %}
{
"name": "Home Banner",
"class": "home-banner-main-wrap",
"settings": [
{
"type": "header",
"content": "Slider settings"
},
{
"type": "checkbox",
"id": "banner_autoplay_enable",
"label": "Autoplay",
"default": true
},
{
"type": "checkbox",
"id": "banner_arrows_enable",
"label": "Enable arrows",
"default": true
},
{
"type": "range",
"id": "banner_autoplay_speed",
"label": "Change slides every",
"max": 10,
"min": 5,
"step": 1,
"unit": "sec",
"default": 6
}
],
"blocks": [
{
"type": "banner_slide",
"name": "Slide",
"settings": [
{
"type": "color",
"id": "banner_bg_clr",
"label": "Background color"
},
{
"type": "image_picker",
"id": "banner_img",
"label": "Image"
},
{
"type": "text",
"id": "banner_tp_text",
"label": "Short text"
},
{
"type": "text",
"id": "banner_title_text",
"label": "Title"
},
{
"type": "text",
"id": "banner_from_text",
"label": "From text"
},
{
"type": "text",
"id": "banner_amt_text",
"label": "Amount"
},
{
"type": "url",
"id": "banner_link",
"label": "Button Link"
},
{
"type": "text",
"id": "banner_link_text",
"label": "Button Text",
"default": "shop today!"
},
{
"type": "text",
"id": "banner_btm_text",
"label": "Bottom text"
}
]
}
],
"presets": [
{
"name": "Home Banner",
"category": "Image"
}
]
}
{% endschema %}
{% assign autoplay_enable = section.settings.banner_autoplay_enable %}
{% assign speed_play = section.settings.banner_autoplay_speed %}
{% assign arrows_enable = section.settings.banner_arrows_enable %}
{% if section.blocks.size > 0 %}
<script type="lazyload2">
  $(document).ready(function() {
    var $status = $('.pagingInfo');
    var autoplay_enable = {{autoplay_enable}};
    var final_speed_play = {{speed_play | times: 1000}};
    var arrows_enable = {{arrows_enable}};
    $('.home-slideshow').slick({
      autoplay: autoplay_enable,
      autoplaySpeed: final_speed_play,
      dots: false,
      arrows: arrows_enable,
      infinite: true,
      slidesToShow: 1,
      slidesToScroll: 1
    });
    $('.home-slideshow').on('init reInit afterChange', function(event, slick, currentSlide, nextSlide){
      var i = (currentSlide ? currentSlide : 0) + 1;
      var slider_counter = slick.slideCount;
      $status.html('<span class="current_slide_info">'+i+'</span>' + '/<span class="total_slide_info">' + slider_counter+'</span>');
    });
  });
</script>
{% endif %}





