



{% if section.settings.slider_btm_title != blank %}
<div class="page-width">
  <div role="heading" aria-level="2" class="queen-promise-title-wrap slider-btm-title-wrap">{{section.settings.slider_btm_title}}</div>
</div>
{% endif %}

{% if section.settings.slider_btm_desc != blank %}
<div class="page-width">
  <div class="queen-promise-desc-wrap slider-btm-desc-wrap">{{section.settings.slider_btm_desc}}</div>
</div>
{% endif %}

<div class="page-width">
{% include 'rev_holiday-21' %}
</div>

{% comment %}
{% if section.blocks.size > 0 %}
<div class="page-width">
  <div class="slider-btm-main-content-wrap">
    <div class="home-btm-slideshow">
      {% assign counter = 0 %}
      {% for block in section.blocks %}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "wc_product_visibility", resource: block %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop End {%- endcomment -%}

      {% if block.settings.banner_btm_img != blank %}
      <div>
        <div class="home-btm-banner-slider-section-wrapper">
          <div class="home-btm-banner-img-container" style="background-image:url('{{ block.settings.banner_btm_img | img_url: 'master' }}');">
            
          </div>

          <div class="home-btm-main-banner-wrap">
            {% if block.settings.banner_btm_tp_text != blank %}
            <div class="home-btm-banner-top-shrt-txt">
              <span class="txt-btm-bnr-wrap">
                {{block.settings.banner_btm_tp_text}}
              </span>
            </div>
            {% endif %}

            {% if block.settings.banner_btm_title_text != blank %}
            <div class="home-btm-banner-title-txt">
              {{block.settings.banner_btm_title_text}}
            </div>
            {% endif %}

            {% if block.settings.banner_btm_heading_text != blank %}
            <div class="home-btm-banner-heading-txt">
              {{block.settings.banner_btm_heading_text}}
            </div>
            {% endif %}

            {% if block.settings.banner_btm_link != blank %}
            <div class="home-btm-banner-btn-wrap">
              <a href="{{block.settings.banner_btm_link}}">
                {{block.settings.banner_btm_link_text}}
              </a>
            </div>
            {% endif %}
          </div>
        </div>
      </div>

      {% assign counter = counter | plus: 1 %}
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}
{% endcomment %}

{% schema %}
{
"name": "Slider Banner",
"class": "home-btm-banner-main-wrap",
"settings": [
{
"type": "text",
"id": "slider_btm_title",
"label": "Title"
},
{
"type": "text",
"id": "slider_btm_desc",
"label": "Description"
},
{
"type": "header",
"content": "Slider settings"
},
{
"type": "checkbox",
"id": "banner_btm_autoplay_enable",
"label": "Autoplay",
"default": true
},
{
"type": "checkbox",
"id": "banner_btm_arrows_enable",
"label": "Enable arrows",
"default": true
},
{
"type": "range",
"id": "banner_btm_autoplay_speed",
"label": "Change slides every",
"max": 10,
"min": 5,
"step": 1,
"unit": "sec",
"default": 6
}
],
"blocks": [
{
"type": "btm_banner_slide",
"name": "Slide",
"settings": [
{
"type": "image_picker",
"id": "banner_btm_img",
"label": "Image"
},
{
"type": "text",
"id": "banner_btm_tp_text",
"label": "Short text"
},
{
"type": "text",
"id": "banner_btm_title_text",
"label": "Title"
},
{
"type": "text",
"id": "banner_btm_heading_text",
"label": "Heading"
},
{
"type": "url",
"id": "banner_btm_link",
"label": "Button Link"
},
{
"type": "text",
"id": "banner_btm_link_text",
"label": "Button Text",
"default": "discover now"
}
]
}
],
"presets": [
{
"name": "Slider Banner",
"category": "Image"
}
]
}
{% endschema %}
{% assign autoplay_enable = section.settings.banner_btm_autoplay_enable %}
{% assign speed_play = section.settings.banner_btm_autoplay_speed %}
{% assign arrows_enable = section.settings.banner_btm_arrows_enable %}
{% if section.blocks.size > 0 %}
<script type="lazyload2">
  $(document).ready(function() {
    var btm_autoplay_enable = {{autoplay_enable}};
    var btm_final_speed_play = {{speed_play | times: 1000}};
    var btm_arrows_enable = {{arrows_enable}};
    $('.home-btm-slideshow').slick({
      autoplay: btm_autoplay_enable,
      autoplaySpeed: btm_final_speed_play,
      dots: false,
      arrows: btm_arrows_enable,
      infinite: true,
      adaptiveHeight: true,
      slidesToShow: 1,
      slidesToScroll: 1
    });
  });
</script>
{% endif %}