<section class="blog-section home-blog-section-wrap">

  {% if section.settings.title != blank %}
  <div class="page-width">
    <div role="heading" aria-level="2" class="home-blog-title-wrap queen-promise-title-wrap">{{section.settings.title}}</div>
  </div>
  {% endif %}

  {% if section.settings.blog_desc != blank %}
  <div class="page-width">
    <div class="home-blog-desc-wrap queen-promise-desc-wrap">{{section.settings.blog_desc}}</div>
  </div>
  {% endif %}

  <div class="page-width">
    <div class="grid">
      {%- assign blog = blogs[section.settings.blog] -%}
      {% for article in blog.articles limit:3 %}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "wc_product_visibility", resource: article %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop End {%- endcomment -%}

          {%- comment -%}
        {% if block.settings.home_article_sel != blank %}
        {% assign article = articles[block.settings.home_article_sel] %}
      	{% endif %}
        {%- endcomment -%}
      	<div class="grid__item medium-up--one-third">
        <div class="blog-list-view">
          <div class="article-listing">
            <div class="entry-media">
              {% if article.image %}
              <div id="" class="article__list-image-wrapper js">
                <a href="{{article.url}}">
                  <img
                      class="lazyload"
                      src="data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'%20width='{{ article.image.width }}'%20height='{{ article.image.height }}'></svg>"
                      data-src="{{article.image | img_url: 'master'}}" alt="">
                  <span class="visually-hidden">{{ article.title }}</span>
                </a>
              </div>
              {% endif %}
            </div> 
            <div class="entry-content-wrapper">
              <div class="content-wrapper-inner">
                <div class="art-main">
                  <div class="art-rgt">
                    <h2 role="heading" aria-level="3" class="article__title h3"><a href="{{ article.url }}">{{ article.title }}</a></h2>                   
                  </div>
                  <div class="home-tag-date-wrap">
                    {% if article.tags.size > 0 %}
                    <div class="article__tags rte">
                      <ul class="list--inline" aria-label="{{ 'blogs.article.tags' | t }}">
                        {% for tag in article.tags %}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "wc_product_visibility", resource: tag %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop End {%- endcomment -%}

                        {% if tag  contains 'grid_' %}
                        <li>
                          <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="article__grid-tag">{{ tag | split: "_" | last}}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                      </ul>
                    </div>
                    {% endif %}

                    <div class="entry-meta">
                      {% if section.settings.blog_show_date %}                    
                      <span class="article__date month-add">
                        {{ article.published_at | date: '%B %d, %Y' }}
                      </span>
                      {% endif %} 
                    </div>
                  </div>
                </div>

                <div class="home-blog-desc">
                  {% if article.excerpt.size > 0 %}
                  {{ article.excerpt }}
                  {% else %}
                  {{ article.content | strip_html | truncate: 150 }}
                  {% endif %}
                </div>

                <div class="press-blog-section">
                  <a aria-label="Read more about {{ article.title }}" href="{{article.url}}" class="readmorebtn">
                    + Read more
                  </a>
                </div>
              </div>
            </div>  
          </div>
        </div>
      </div>
      
      {% endfor %}
    </div>
  </div>

  {% if section.settings.home_blg_link != blank %}
  <div class="page-width">
    <div class="home-look-talk-btn-wrap">
      <a href="{{section.settings.home_blg_link}}">
        {{section.settings.home_blg_link_text}}
      </a>
    </div>
  </div>
  {% endif %}
</section>
{% schema %}
{
  "name": "Home featured blog",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Education & Experiences"
    },
    {
      "type": "text",
      "id": "blog_desc",
      "label": "Description",
      "default": "We invite you to join us in digging deeper, understanding the science of CBD and hearing from our beautiful community."
    },
    {
      "id": "blog",
      "type": "blog",
      "label": "Blog"
    },
    {
      "type": "checkbox",
      "id": "blog_show_date",
      "label": "Show date",
      "default": true
    },
    {
      "id": "home_blg_link",
      "type": "url",
      "label": "Link"
    },
    {
      "id": "home_blg_link_text",
      "type": "text",
      "label": "Link text"
    }
  ],
  /*"blocks": [
    {
      "type": "article_select",
      "name": "Article",
      "limit": 3,
      "settings": [
        {
          "type": "article",
          "id": "home_article_sel",
          "label": "Select Article"
        }
      ]
    }
  ],*/
  "presets": [
    {
      "name": "Home featured blog",
      "category": "Article"
    }
  ]
}
{% endschema %}