{% style %}

    [data-section-id="{{ section.id }}"] {
        background-color: {{ section.settings.background_color }};
    }

    [data-section-id="{{ section.id }}"] .icon-title {
        font-family: "{{ section.settings.icon_title_font }}";
        color: {{ section.settings.text_color }};
        font-size: 12px;
        line-height: 1.2;
    }

{% endstyle %}

<div data-section-id="{{ section.id }}">
    <div class="page-width-2 jr jr-icon-links">
        <div class="icons-container">
            {% for block in section.blocks %}
                <a class="icon-container" href="{{ block.settings.icon_link }}">
                    <img src="{{ block.settings.icon | image_url: width: 100 }}" alt="Kush Queen Icon">
                    {% if block.settings.title != blank %}
                        <p class="icon-title">{{ block.settings.title }}</p>
                    {% endif %}
                </a>
            {% endfor %}
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Collection Icon Links",
  "settings": [
    {
        "type": "color",
        "id": "background_color",
        "label": "Background Color",
        "default": "#ffffff"
    },
    {
        "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default": "#000000"
    },
    {
        "type": "select",
        "id": "icon_title_font",
        "label": "Icon title font",
        "default": "Eina03",
        "options": [
          {
            "label": "Room205",
            "value": "Room205"
          }, {
            "label": "Gotham",
            "value": "Gotham"
          }, {
            "label": "Gotham Bold",
            "value": "Gotham-bold"
          }, {
            "label": "Eina03",
            "value": "Eina03"
          }
        ]
    }
  ],
  "blocks": [
    {
        "type": "icon",
        "name": "Icon Block",
        "limit": 4,
        "settings": [
            {
                "type": "url",
                "id": "icon_link",
                "label": "Icon Link",
                "info": "Can link out to a collection or whever you want" 
            },
            {
                "type": "image_picker",
                "id": "icon",
                "label": "Icon"
            }, 
            {
                "type": "text",
                "id": "title",
                "label": "Icon title"
            }
        ]
      }
  ],
  "presets": [
    {
        "name": "Collection Icon Links"
    }
  ]
}
{% endschema %}