<div class="page-width-2">
  
     
  		<ul class="colgrid grid grid--uniform">
        {% for block in section.blocks %}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "wc_product_visibility", resource: block %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop End {%- endcomment -%}

          <li class="grid__item small--one-half medium-up--one-quarter">
              <div class="colgrid item"> 
                <div class="prod-wrap">
                  <div class="microfull covermicroful">
                    <div class="prod-img">
                      {% if block.settings.banner_btm_img != blank %}
					  <a class="img-effect" href="{{block.settings.link}}">
                        <img class="first_img" alt="{{block.settings.banner_btm_tp_text | replace: '"', ""}}" src="{{block.settings.banner_btm_img | img_url:'master'}}">
                      </a>   
                      {% endif %}
                      <div class="readmoreshowoption">
                        <a href="{{block.settings.link}}" aria-label="Read More about {{block.settings.banner_btm_tp_text | replace: '"', ""}}">Read More</a>
                      </div> 

                    
                    </div>
                    <div class="prod-content">
                      <div class="block-inline">
                        <div class="title-wish">
                          <h5 role="heading" aria-level="2" class="prod-title"> <a href="{{block.settings.link}}"> {{block.settings.banner_btm_tp_text}} </a> </h5>
                           
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </li>
         {% endfor %}
          
     </ul>
          
  
</div>  

{% schema %}
  {
    "name": "Lab Test",
    "settings": [],
    "blocks":[
	{
	"type": "labtest",
    "name": "Lab Test",
	"settings":[
		{
        "type": "image_picker",
        "id": "banner_btm_img",
        "label": "Image"
        },
        {
        "type": "text",
        "id": "banner_btm_tp_text",
        "label": "Title"
        },
		{
        "type": "url",
        "id": "link",
        "label": "Link"
        }
	]
   }
   ]
   
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
