<section class="queen-promise-wrapper new">
  <div class="page-width">
    <div class="queen-main-wrap new">
        <div class="home-promise-large-section">
            {% if section.settings.queen_pro_icon != blank %}
            <div class="home-promise-large-icon">
                <img class="lazyload" src="{{ section.settings.queen_pro_icon | img_url: 'master' }}" alt="{{ block.settings.queen_pro_sing_img.alt}}"/>
            </div>
            
      {% endif %}

            {% if section.settings.queen_pro_title != blank %}
      <div  role="heading" aria-level="2" class="queen-promise-title-wrap new color-white">{{section.settings.queen_pro_title}}</div>
      {% endif %}

      {% if section.settings.queen_pro_subtitle != blank %}
      <div role="heading" aria-level="2" class="queen-promise-title-wrap new color-gold">{{section.settings.queen_pro_subtitle}}</div>
      {% endif %}

      {% if section.settings.queen_pro_icon != blank %}
            <div class="home-promise-mobile-icon">
                <img class="lazyload" src="{{ section.settings.queen_pro_icon | img_url: '250x250' }}" alt="{{ block.settings.queen_pro_sing_img.alt}}"/>
            </div>
            
      {% endif %}

      {% if section.settings.queen_pro_desc != blank %}
      <div class="queen-promise-desc-wrap new card-content">{{section.settings.queen_pro_desc}}</div>
      {% endif %}
        </div>
      

      <div class="queen-promise-service-wrap new">
          {% for block in section.blocks %}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "wc_product_visibility", resource: block %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop End {%- endcomment -%}

            <div class="home-promise-card-section">
          {% if block.settings.queen_pro_sing_img != blank %}

              <a class="promise-link-wrap" data-fancybox="gallery" href="{{block.settings.queen_pro_sing_img | img_url: 'master'}}">
                {% if block.settings.queen_pro_sing_img.image.src contains ".svg" %}
                  <img class="featured-icon" src="{{ block.settings.queen_pro_sing_img | img_url: 'master' }}" alt="" width="60px" height="60px">
                  {% else %}
                  <img class="featured-icon" src="{{ block.settings.queen_pro_sing_img | img_url: '50x50' }}" alt="">
                {% endif %} 
              </a>

          {% endif %}
          {% if block.settings.queen_pro_sing_title != blank %}
            <div class="home-promise-card-content-title">{{ block.settings.queen_pro_sing_title }}</div>
          {% endif %}
          {% if block.settings.queen_pro_sing_desc != blank %}
            <div class="home-promise-card-content-desc">{{ block.settings.queen_pro_sing_desc }}</div>
          {% endif %}
          </div>
          {% endfor %}
          
      </div>
    </div>
  </div>
</section>

{% schema %}
{
"name": "New Home Promise",
"settings": [
{
"id":"queen_pro_title",
"type":"text",
"label":"Title"
},
{
"id":"queen_pro_subtitle",
"type":"text",
"label":"Sub Title"
},
{
"id":"queen_pro_desc",
"type":"text",
"label":"Description"
},
{
"id":"queen_pro_icon",
"type":"image_picker",
"label":"Icon"
}
],
"blocks":[
{
"type":"promise",
"limit": 4,
"name":"Service",
"settings": [
        {
        "id": "queen_pro_sing_img",
        "type": "image_picker",
        "label": "Icon"			
        },
        {
        "id": "queen_pro_sing_title",
        "type": "text",
        "label": "Heading"	
        },
        {
        "id": "queen_pro_sing_desc",
        "type": "text",
        "label": "Description"	
        }
        ]
}
],
"presets":[
{
"name": "New Home Promise",
"category":"Image"
}
]
}
{% endschema %}