<div class="page-width">
<div class="grid__item medium-up--three-quarters">
  {% paginate blog.articles by 10 %}
  {% for article in blog.articles %}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "wc_product_visibility", resource: article %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop End {%- endcomment -%}

  <div class="blog_detail">
    {% if article.image != blank %}
    <img src="{{ article.image | img_url: 'master' }}" alt="" class="hvrbox-layer_bottom margin_btm">
   {% endif %}
      <div role="heading" aria-level="2" class="new_blog_title">
      <a href="{{ article.url }}">{{ article.title }}</a>
      </div>
    
    <div class=" blog_new_detail">

      {% if article.tags.size > 0 %}
      <div class="article__tags rte">
        <ul class="list--inline" aria-label="{{ 'blogs.article.tags' | t }}">
          {% for tag in article.tags %}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "wc_product_visibility", resource: tag %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop End {%- endcomment -%}
   
          {% if tag  contains 'grid_' %}
          <li>
            <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="article__grid-tag">  {{ tag | split: "_" | last }}</a>
          </li>  
          {% endif %}
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      {% if section.settings.blog_show_date %}
      <span class="article__date">
        {{ article.published_at | time_tag: format: 'date' }}
      </span>
      {% endif %}
      <div class="entry-content">
        <div class="product-layer_top">
          
          <div class="product-text">  
            
            {{ article.content }}
            
          </div>
        </div>
      </div>

    </div>
  </div>
  {% endfor %}
  {% endpaginate %}

  <div class="previous_article-box">

     {% if paginate.pages > 1 %}
    {% include 'pagination' %}
    {% endif %}

  </div>
</div>
<div class="grid__item medium-up--one-quarter">        
  <div class="blog-sidebar">   
    <section id="search-2" class="widget widget_search">
      <form action="/search" method="get" class="search-responsive" role="search">
        <input class="" id="text1" type="text" name="q" placeholder="Search" aria-label="Search">
        <button class="submit" aria-label="Search" type="submit">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </form>
    </section>
 <!-- start Archive tag -->
          <div class="wrapper-sidebar">
            <h4 class="title">Archive</h4>

            <ul class="nav">
              {% assign archive = section.settings.archive_tag | split: ',' %}
              {% for archive-tag in archive %}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "wc_product_visibility", resource: archive-tag %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop End {%- endcomment -%}

              <li>
                <label class="check">
                  
                  <a href="/blogs/all/tagged/{{ archive-tag | handle }}">{{ archive-tag | split: "_" | last }}</a>
                  
                </label>
              </li>
              {% endfor %}

            </ul>
            <!-- end Archive tag -->
            
          <!-- start Categories tag -->
          <div class="wrapper-sidebar" style="">
            <h4 class="title">Categories</h4>

            <ul class="nav">
              {% assign archive = section.settings.categories_tag | split: ',' %}
              {% for cat-tag in archive %}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "wc_product_visibility", resource: cat-tag %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop End {%- endcomment -%}

              <li>
                <label class="check">
                  
                  <a href="/blogs/all/tagged/{{ cat-tag | handle }}" class="article__grid-tag">{{ cat-tag | split: "_" | last }}</a>
                </label>
              </li>
              {% endfor %}

            </ul>
            <!-- end Categories tag -->
  </div>
</div> 
</div>



{% schema %}
{
"name": {
"da": "Opslag",
"de": "Posts",
"en": "Posts",
"es": "Publicaciones",
"fi": "Julkaisut",
"fr": "Articles",
"hi": "पोस्ट",
"it": "Articoli",
"ja": "投稿",
"ko": "게시물",
"ms": "Siaran",
"nb": "Innlegg",
"nl": "Berichten",
"pt-BR": "Posts",
"pt-PT": "Publicações",
"sv": "Inlägg",
"th": "โพสต์",
"zh-CN": "文章",
"zh-TW": "貼文"
},
"settings": [
{
"type": "checkbox",
"id": "blog_show_author",
"label": {
"da": "Vis forfatter",
"de": "Autor anzeigen",
"en": "Show author",
"es": "Mostrar autor",
"fi": "Näytä tekijä",
"fr": "Afficher l'auteur",
"hi": "लेखक दिखाएं",
"it": "Mostra autore",
"ja": "執筆者を表示する",
"ko": "작성자 표시",
"ms": "Tunjukkan pengarang",
"nb": "Vis forfatter",
"nl": "Auteur weergeven",
"pt-BR": "Exibir autor(a)",
"pt-PT": "Mostrar autor",
"sv": "Visa författare",
"th": "แสดงผู้เขียน",
"zh-CN": "显示作者",
"zh-TW": "顯示作者"
},
"default": true
},
{
"type": "checkbox",
"id": "blog_show_date",
"label": {
"da": "Vis dato",
"de": "Datum anzeigen",
"en": "Show date",
"es": "Mostrar fecha",
"fi": "Näytä päivämäärä",
"fr": "Afficher la date",
"hi": "दिनांक दिखाएं",
"it": "Mostra data",
"ja": "日付を表示する",
"ko": "날짜 표시",
"ms": "Tunjukkan tarikh",
"nb": "Vis dato",
"nl": "Datum weergeven",
"pt-BR": "Exibir data",
"pt-PT": "Mostrar data",
"sv": "Visa datum",
"th": "แสดงวันที่",
"zh-CN": "显示日期",
"zh-TW": "顯示日期"
},
"default": true
},
{
"type": "checkbox",
"id": "show_share_buttons",
"label": {
"da": "Vis knapper til deling på sociale medier",
"de": "Buttons für Social Media anzeigen",
"en": "Show social sharing buttons",
"es": "Mostrar botones para compartir en redes sociales",
"fi": "Näytä sosiaalisen median jakamispainikkeet",
"fr": "Afficher les boutons de partage sur les médias sociaux",
"hi": "सोशल शेयरिंग बटन दिखाएं",
"it": "Mostra i pulsanti per la condivisione sui social",
"ja": "ソーシャル共有ボタンを表示する",
"ko": "소셜 공유 버튼 표시",
"ms": "Tunjukkan butang perkongsian sosial",
"nb": "Vis knapper for deling på sosiale medier",
"nl": "Knoppen voor sociaal delen weergeven",
"pt-BR": "Exibir botões de compartilhamento em redes sociais",
"pt-PT": "Mostrar botões de partilha nas redes sociais",
"sv": "Visa knappar för delning i sociala medier",
"th": "แสดงปุ่มสำหรับแชร์ลงโซเชียล",
"zh-CN": "显示社交分享按钮",
"zh-TW": "顯示社群分享按鈕"
},
"default": true
},
{
   "type": "textarea",
   "id": "archive_tag",
   "label": "Archive Tag"
},
{
   "type": "textarea",
   "id": "categories_tag",
   "label": "Categories Tag"
}
]
}
{% endschema %}
