{{ 'new-pdp.css' | asset_url | stylesheet_tag }}

{% comment %} Wholesale_Club_Product_Prices Start {% endcomment %}
{% assign base_product = product %}
{% assign base_variant = product.selected_or_first_available_variant %}

{% liquid 
  assign stock_text = product.metafields.custom.new_pdp_template.value.stock_text_override
  assign dot_color = product.metafields.custom.new_pdp_template.value.stock_color_override

  if dot_color == blank
    assign dot_color = 'green'
  endif

  if stock_text == blank
    assign stock_text = 'In Stock'
  endif
-%}

<div
  class="product-template__container sec-space-both padding-bottom-0"
  id="ProductSection-{{ section.id }}"
  data-section-id="{{ section.id }}"
  data-section-type="product"
  data-enable-history-state="true"
>
  {% comment %}
    Get first variant, or deep linked one
  {% endcomment %}
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign product_image_zoom_size = '1024x1024' -%}
  {%- assign product_image_scale = '2' -%}

  <section class="product-single">
    <div class="page-width-2">
      <div class="new-pdp_top">
        {% if section.settings.badge_text != blank %}
          <div class="new-pdp_badge">
            <span class="badge-text">
              {{ section.settings.badge_text }}
            </span>
          </div>
        {% endif %}
        
        <!-- Mobile H1 (only visible on mobile) -->
        <h1 class="gem-title product-name onlyMob">{{ product.title }}</h1>
        
        <!-- Desktop H1 (only visible on desktop) -->
        <h1 class="gem-title product-name onlyDesk">{{ product.title }}</h1>

        <div class="new-pdp_instock">
          <div
            class="ruk_rating_snippet"
            data-sku="{{ product.handle }};{{ product.variants | map: 'sku' | join: ';' }};{{ product.variants | map: 'id' | join: ';' }}"
          ></div>
          {% assign product_available = false %}

          {% for variant in product.variants %}
            {% if variant.available %}
              {% assign product_available = true %}
              {% break %}
            {% endif %}
          {% endfor %}
          {% if product_available %}
            <div class="instock__container">
              <span class="instock__dot {{ dot_color }}"></span>
              <span>{{ stock_text }}</span>
            </div>
          {% endif %}
        </div>
      </div>
      <div class="grid">
        <div class="grid__item medium-up--one-half shopleft">
          <div class="prod-single-slider">
            <div
              class="right prod-slider single-product-image"
              style="{% if product.images.size == 1 %} width:100%;{% endif %}"
            >
              {% if product.images.size == 0 %}
                <div class="product-single__photo-wrapper js">
                  <a href="#" class="MagicZoom product-single__photo" data-image-id="{{ image.id }}">
                    <img
                      class="product-image"
                      src="{{ image | img_url: 'grande' }}"
                      alt="{{ image.alt | escape }}"
                      data-my-custom-image="{{image.id}}"
                    >
                  </a>
                </div>
              {% else %}
                {%- assign featured_image = product.selected_or_first_available_variant.featured_image
                  | default: product.featured_image
                -%}
                {% for image in product.images %}
                  {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                  <div class="product-single__photo-wrapper js">
                    <a
                      href="{{ image | img_url: 'master' }}"
                      class="MagicZoom product-single__photo"
                      data-image-id="{{ image.id }}"
                    >
                      <img
                        src="{{ image | img_url: 'grande' }}"
                        alt="{{ image.alt | escape }}"
                        data-my-custom-image="{{image.id}}"
                      >
                    </a>
                  </div>
                {% endfor %}
              {% endif %}
            </div>
            {% if product.images.size > 1 %}
              <div class="left">
                <div class="shop-slider-nav">
                  {% assign count = 0 %}
                  {% for image in product.images %}
                    <div data-zoom-id="zoom">
                      <div class="thumb-container">
                        <div class="thumbnail-table-container">
                          <a
                            data-image="{{ image.src | img_url: 'original', scale: 2 }}"
                            data-slide-index="{{ count }}"
                            href="{{ image.src | img_url: product_image_zoom_size, scale: product_image_scale }}"
                            class="thumb text-link product-single__thumbnail product-single__thumbnail--{{ section.id }}"
                            data-thumbnail-id="{{ image.id }}"
                          >
                            <img
                              class="product-single__thumbnail-image"
                              src="{{ image.src | img_url: 'x130' }}"
                              alt="{{ image.alt | escape }}"
                              data-my-custom-image="{{image.id}}"
                            >
                          </a>
                        </div>
                      </div>
                    </div>
                    {% assign count = count | plus: 1 %}
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          </div>
        </div>

        <div class="grid__item small--one-whole medium-up--one-half large-up--one-half shoprightcontent">
          <div class="gem_rt">
            <div class="new-pdp_top">
              {% if section.settings.badge_text != blank %}
                <div class="new-pdp_badge">
                  <span class="badge-text">
                    {{ section.settings.badge_text }}
                  </span>
                </div>
              {% endif %}
              <div class="new-pdp_instock">
                <div
                  class="ruk_rating_snippet"
                  data-sku="{{ product.handle }};{{ product.variants | map: 'sku' | join: ';' }};{{ product.variants | map: 'id' | join: ';' }}"
                ></div>
                {% assign product_available = false %}

                {% for variant in product.variants %}
                  {% if variant.available %}
                    {% assign product_available = true %}
                    {% break %}
                  {% endif %}
                {% endfor %}
                {% if product_available %}
                  <div class="instock__container">
                    <span class="instock__dot {{ dot_color }}"></span>   
                    <span>{{ stock_text }}</span>
                  </div>
                {% endif %}
              </div>
            </div>
            <div id="api-product-long-desc"></div>
            <div class="new-pdp_shortdesc">
              <span>
                {% if section.settings.short_desc_text != blank %}
                  {{ section.settings.short_desc_text }}
                {% endif %}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    function toggleH1() {
      const mobileH1 = document.querySelector('.onlyMob');
      const desktopH1 = document.querySelector('.onlyDesk');
      
      if (window.innerWidth <= 768) {
        mobileH1.style.display = "block";
        desktopH1.style.display = "none";
      } else {
        mobileH1.style.display = "none";
        desktopH1.style.display = "block";
      }
    }

    toggleH1();  // Initial check on page load

    window.addEventListener('resize', toggleH1);  // Check on window resize
  });
</script>
