
  
<div class="queen-promise">

  <div class="community">
    <div class="page-width">
      <div class="community-main-width">
      <div class="community-inner">
        <h2>{{section.settings.community_title}}</h2>
<!--         <a href="{{section.settings.community_btn_url}}">{{section.settings.community_btn}}</a> -->
        <p>{{section.settings.community_contant}}</p>
      </div>
      </div>
    </div>
  </div>
  
  <div class="community-pic">
    <div class="community-inner">
      <div class="grid">
        {% for block in section.blocks %}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "wc_product_visibility", resource: block %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop End {%- endcomment -%}

        {% case block.type %}
        {% when 'community-pic' %}
        <div class="grid__item small--one-whole medium-up--one-half large-up--one-half">
          <div class="community-images">
          	{% if block.settings.commun_pic != blank %}
            <img src="{{ block.settings.commun_pic |  img_url: "master"}}"  alt="{{block.settings.commun_pic.alt}}" />
            {% endif %}
          </div>
        </div>
        {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>
  
  <div class="queen-content">
    <div class="page-width">
      <div class="community-main-width">
      
        <div class="queen-inner-width">
          
        {% for block in section.blocks %}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "wc_product_visibility", resource: block %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop End {%- endcomment -%}

        {% case block.type %}
        {% when 'queen-text' %}
          <div class="queen-info">
            <h2>{{block.settings.queen_title}}</h2>
            <p>{{block.settings.queen_text}}</p>
          </div>
        {% endcase %}
        {% endfor %}
        
          <div class="service-slider">
            
        {% for block in section.blocks %}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "wc_product_visibility", resource: block %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop End {%- endcomment -%}

        {% case block.type %}
        {% when 'services-pic' %}
            
          <div class="queen-service">
          	{% if block.settings.service_pic != blank %}
            <img src="{{ block.settings.service_pic |  img_url: "master"}}"  alt="{{block.settings.service_pic.alt}}" />
            {% endif %}
          </div>
         
        {% endcase %}
        {% endfor %}
          
        </div>
        
      </div>
    </div>
  </div>
  </div>
  
  <div class="queen-banner">
    <div class="page-width">
      <div class="queen-banner-width">
        <div class="queen-banner-img">
        	{% if section.settings.queen_banner_img != blank %}
            <img src="{{ section.settings.queen_banner_img |  img_url: "master"}}"  alt="{{section.settings.queen_banner_img.alt}}" />
            {% endif %}
        </div>
      </div>
    </div>
  </div>
  
  <div class="get-know">
    <div class="page-width">
      <div class="community-main-width">
        <div class="get-width">
          <div class="get-inner">
            <h2>{{section.settings.get_title}}</h2>
            <p>{{section.settings.get_text}}</p>
            <div class="community-inner margin-btn">
              <a href="{{section.settings.get_btn_url}}">{{section.settings.get_btn}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    
  
</div>
  
  

{% schema %}
  {
    "name": "Queen promise",
    "settings": [
		{
			"type":"text",
			"id":"community_title",
			"label":"community title"
		},
		{
			"type":"text",
			"id":"community_btn",
			"label":"community btn"
		},
		{
			"type":"url",
			"id":"community_btn_url",
			"label":"community btn url"
		},
		{
			"type":"textarea",
			"id":"community_contant",
			"label":"community contant"
		},
		{
        "type":"image_picker",
        "id":"queen_banner_img",
        "label":"Queen banner Image"
        },
		{
			"type":"text",
			"id":"get_title",
			"label":"get title"
		},
		{
			"type":"text",
			"id":"get_text",
			"label":"get text"
		},
        {
        "type":"url",
        "id":"get_btn_url",
        "label":"Url"
        },
        {
        "type":"text",
        "id":"get_btn",
        "label":"Button Text"
        }
	],
	"blocks":[
    {
    "type":"community-pic",
    "name":"community-set",
    "settings": [
		{
        "type":"image_picker",
        "id":"commun_pic",
        "label":"community Image"
        }
		
	]
    },
	{
    "type":"queen-text",
    "name":"queen-set",
    "settings": [
		{
			"type":"text",
			"id":"queen_title",
			"label":"queen contant title"
		},
		{
			"type":"textarea",
			"id":"queen_text",
			"label":"queen contant text"
		}
		
	]
    },
	{
    "type":"services-pic",
    "name":"services",
    "settings": [
		{
        "type":"image_picker",
        "id":"service_pic",
        "label":"service Image"
        }
		
	]
    }
	]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
