<style>
  @media screen and (max-width: 749px) {
    .press-blog-section .grid__item {
      width: 50% !important;
    }
    .press-blog-section img.article__list-image.relative {
      aspect-ratio: 1/1;
      object-fit: cover;
    }
  }

  @media screen and (max-width: 571px) {
    .press-blog-section .grid__item {
      width: 100% !important;
    }
  } 

</style>

<div class="blog-section press-blog-section">
  <div class="page-width">
    {%- assign blog = blogs[section.settings.blog] -%}
    <div class="blog-grid">
      <div class="grid">
        
        {% paginate blogs.my_new_blog.articles  %}

        {% for article in blog.articles %}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "wc_product_visibility", resource: article %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop End {%- endcomment -%}

        {% if article.tags contains 'grid_FEATURED' %}
        
        
        {% for art_tag in article.tags %}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "wc_product_visibility", resource: art_tag %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop End {%- endcomment -%}

        {% for art_icle in blog.articles %}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "wc_product_visibility", resource: art_icle %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop End {%- endcomment -%}

        {% if art_tag == 'grid_FEATURED' %}     
        <div class ="hidden">
        {% increment tag_cot %}
        </div>
        {% if tag_cot > 12 %}
              {% break %} 
        {% endif %}  
        
        <div class="grid__item medium-up--one-quarter">
          <div class="blog-list-view">
            <div class="article-listing">
              <div class="entry-media">
                <a href="{{ article.url }}" class="article__list-image-container"> 
                  <img class="article__list-image relative"src="{{ article.image | img_url: 'master' }}" alt="{{ article.title }}">
                </a>
              </div>

              <div class="entry-content-wrapper">
                <div class="content-wrapper-inner">
                  <div class="art-main">

                    <a href="{{ article.url }}"> 
                      <h2 class="article__title h3">{{ article.title }}</h2>
                    </a>
                    {% if article.tags.size > 0 %}
                    <div class="article__tags rte">
                      <ul class="list--inline" aria-label="{{ 'blogs.article.tags' | t }}">
                        {% for tag in blog.tags %}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "wc_product_visibility", resource: tag %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop End {%- endcomment -%}

                        {% if tag  contains 'featured' %}
                        <li>                        
                          <a href="/blogs/{{ tag | handle | replace: 'blog', 'news' | split: "_" | last }} " class="article__grid-tag">{{ tag | split: "_" | last}}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                      </ul>
                    </div>
                    {% endif %}

                    
                    <span class="article__date">
                      {{ article.published_at | time_tag: format: 'date' }}
                    </span>
                               

                    <div class=" article__grid-excerpt">
                      {% if article.excerpt.size > 0 %}
                      {{ article.excerpt | strip_html | truncate: 100 }}
                      {% else %}
                      {{ article.content | strip_html | truncate: 100 }}
                      {% endif %}
                    </div>
                    <a href="{{ article.url }}" aria-label="Read more about {{ article.title }}" class="readmorebtn">
                      + Read more
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>  {% break %} 
        
        
        {% endif %}
        {% endfor %}
        {% endfor %}  
        

        {% endif %}
        {% endfor %}
        
        
        
        
        {% endpaginate %}
      </div>
    </div>
  </div>
</div>
 

{% schema %}
{
"name": "press Blog Section",
"settings": [

{  
"type":"blog",
"id":"blog",
"label":"Blog"
},
{  
"type":"text",
"id":"title",
"label":"Title"
},
{
"type": "checkbox",
"id": "blog_show_author",
"label": "Show author"
},
{
"type": "checkbox",
"id": "blog_show_date",
"label": "Show date"
}
],
"presets":[
{
"name": "Home Blog Section",
"category":"image"
}
]	
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
