<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

{% comment %} HOMEPAGE DISPLAYED ELEMENTS {% endcomment %}
<div class="home-featured-main-container-cards new-collection-list home-reviews">
    <div class=" page-width">
        <div class="home-featured-collection-cards">
          <div class="home-featured-cards-title-icon">
            {% if section.settings.icon != blank %}
                <div class="icon-container">
                  {% if section.settings.icon.image.src contains ".svg" %}
                  <img class="featured-icon" src="{{ section.settings.icon | img_url: 'master' }}" alt="" width="60px" height="60px">
                  {% else %}
                  <img class="featured-icon" src="{{ section.settings.icon | img_url: 'master' }}" alt="" width="60px" height="60px">
                {% endif %} 
                </div>
            {% endif %}
    
            <div class="queen-promise-title-wrap-cards">
              {% if section.settings.sub-title != blank %}
              <h4 role="heading" aria-level="2" class="queen-promise-subtitle-cards">{{section.settings.sub-title}}</span>
              {% endif %}
              
              {% if section.settings.title != blank %}
              <h3 role="heading" aria-level="2" class="queen-promise-title-cards">{{section.settings.title}}</h3>
              {% endif %}
            </div>
            </div>
            {% if section.settings.review-counter-text != blank %}
            <span class="queen-promise-desc-wrap-cards reviews-counter-text">{{section.settings.review-counter-text}}</span>
            {% endif %}
    
            {% if section.settings.col_link_text != blank %}
            <div class="queen-promise-button-wrap ">
                <a class="queen-promise-cta border-rounded mobile-display-above-none" href="{{section.settings.col_link}}">
                {{section.settings.col_link_text}}
              </a>
            </div>
            {% endif %}
          <div class="review-button-section">
            <div class="review-button prevArrow" id="prev-arrow"><img src="{{ 'review-arrow-left.png' | asset_img_url  }}"></div>
            <div class="review-button nextArrow" id="next-arrow"><img src="{{ 'review-arrow-right.png' | asset_img_url  }}"></div>
          </div>
        </div>


{% comment %} <div id="reviewsio-carousel-widget"></div> {% endcomment %}

<div class="swiper review-swiper">
  <div class="swiper-wrapper" id="review-section">

  </div>
</div>

  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>


</div> 
    
</div>

<script>

  const test_options = {method: 'GET', headers: {accept: 'application/json'}};
  const prod_img_container = document.getElementById('prod-img');
  const reviewSection = document.getElementById('review-section');

  //$("#nextArrow").slick("slickNext");

  
  function TestFunction(message){
    console.log(`TESTING: ${message}`)
  }
  
  function initSwiper() {
      var swiper = new Swiper('.review-section', {
        slidesPerView: 3,
        spaceBetween: 30,
      });
      TestFunction("WORKS")
    }
    //fetch('https://api.reviews.io/product/review?store=kush-queen&sku=BB-RV25HP25D8&per_page=100', test_options)
    fetch('https://api.reviews.io/product/review?store=kush-queen&sku=BB-RV25HP25D8;TPC-WB30HP30ML;TPC-MT100HP2;ING-GMSD9STR200&per_page=100', test_options)   
    .then(response => response.json())
    .then(data => {
      let product_rating_count = data.stats.count;
      let store_average = data.stats.average;
      let review_total_count = `<span class="review-card-count"><span class="review-count-number">4,100 Verified Reviews, <strong>Average 4.5 Star Rating</strong></span>`
      //`<span class="review-card-count"><span class="review-count-number">${product_rating_count}</span>+ reviews with a 4.7/5 average rating</span>`
      //reviewSection.insertAdjacentHTML("beforebegin", review_total_count)
      //prod_img_container.src = product_image;
    console.log(store_average)
      for(review in data.reviews.data)
      {
        let testText = data.reviews.data[review].review;
        let reviewerName = data.reviews.data[review].reviewer.first_name;
        if(testText != '' && reviewerName != "Anonymous" && testText.length < 130)
        {
          let product_image = data.reviews.data[review].product.image_url;
          let product_title = data.reviews.data[review].product.name;
          let product_link = data.reviews.data[review].product.link;
          let product_review_text = data.reviews.data[review].review;
          let reviewer_name = `${data.reviews.data[review].reviewer.first_name} ${data.reviews.data[review].reviewer.last_name}`;
          let reviewer_stars = data.reviews.data[review].rating;
          let reviewer_verified = data.reviews.data[review].reviewer.verified_buyer
          let review_card_content = `<div class="review-card swiper-slide">
            <div class="review-card-heading">
                <img id="prod-img" src="${product_image}" alt="" width="60px" height="60px">
                <div class="review-card-header-content">
                  <h4 id="review-card-title">${product_title.replace("- Wholesale", "")}</h4>
                  <div class="rating-star-section">
                  <span class="review-card-stars">
                    <div class="review-star-container"><img class="star" src="{{ 'GoldStar.png' | asset_img_url }}"><img class="star" src="{{ 'GoldStar.png' | asset_img_url }}"><img class="star" src="{{ 'GoldStar.png' | asset_img_url }}"><img class="star" src="{{ 'GoldStar.png' | asset_img_url }}"><img class="star" src="{{ 'GoldStar.png' | asset_img_url }}"> ${reviewer_stars}</div></span>
                  
                  </div>
                </div>
              </div>
              <div class="review-card-text">
                      <p class="review-card-text">${product_review_text}</p>
              </div>
              <div class="review-card-footer">
                <div class="review-card-user-info">
                  <h4 class="review-card-user-name">${reviewer_name}</h4>
                  <span class="review-card-verified"><img class="verified-checkmark" src="{{ 'GoldCircle.png' | asset_img_url  }}" alt=""> VERIFIED BUYER</span>
                </div>
                  <a href="${product_link}" class="review-card-product-link">SHOP NOW <img class="reviews-cta-arrow" src="{{ 'GoldArrow.png' | asset_img_url  }}" alt=""></a>
          
              </div>
            </div>`;
          reviewSection.insertAdjacentHTML("afterbegin", review_card_content);
          
          //          <span class="review-card-count"><span class="review-count-number">${product_rating_count}</span>+ reviews with a 4.7/5 average rating</span>
        }
      }
  }).then(newdata =>{
    var swiper = new Swiper(".review-swiper", {
slidesPerView: 2,
spaceBetween: 20,
navigation: {
nextEl: '.nextArrow',
prevEl: '.prevArrow',
},
breakpoints: {
1330: {
slidesPerView: 3,
spaceBetween: 130,
},
1100: {
slidesPerView: 2,
spaceBetween: 20,
},
}
});
});
  </script>



{% schema %}
    {
        "name": "Reviews Section",
        "settings": [
            {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Our"
            },
            {
            "type": "text",
            "id": "review-counter-text",
            "label": "Review Counter Text"
            },
            {
            "type": "image_picker",
            "id": "icon",
            "label": "Icon"
            },
            {
            "type": "text",
            "id": "sub-title",
            "label": "Sub Heading",
            "default": "Our"
            },
            {
            "type": "text",
            "id": "desc",
            "label": "Description",
            "default": "CBD products simply designed to elevate you daily."
            },
            {
            "id":"col_link",
            "type":"url",
            "label":"Link"
            },
            {
            "id":"col_link_text",
            "type":"text",
            "label":"Link text",
            "default":"Shop All"
            }
        ],
        "presets":[
{
"name": "Reviews Section",
"category":"Image"
}
]
    }
{% endschema %}