{% style %}

#footer.margin-top {
    margin-top: 0 !important;
}

{% endstyle %}

<div data-section-id="{{ section.id }}">
    <div class="page-width">
        <div class="updated-blog-body">        

            {% paginate blog.articles by 300 %}
                {% assign test = blog.articles %}
            {% endpaginate %}


            {% if request.path contains '/tagged/' %}

                {% assign split_path = request.path | split: '/tagged/' %}
                {% assign current_tag = split_path[1] | remove: 'grid_' | remove: 'tags_' | remove: "blog_" %}
                {% assign tagged_handles = '' %}             
                <div class="blog-subsection-container">
                    <h2>Articles tagged: "{{ current_tag }}"</h2>
                    <div class="blog-subsection-article-container">
                        {% for article in blog.articles %}
                            <div class="blog-article">
                                <a href="{{ article.url }}">
                                    {% if article.image %}
                                        <img src="{{ article.image | image_url: width: 800 }}" alt="{{ article.title }}">
                                        <h5>{{ article.title }}</h5>
                                        <h6>{{ article.author }} <br> {{ article.published_at | time_tag: format: 'date' }} </h6>
                                    {% endif %}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
   
            {% for block in section.blocks %}
                <div class="blog-subsection-container">
                    {% if block.settings.blog_tag_title_of_subsection %}
                        <h2>{{ block.settings.blog_tag_title_of_subsection }}</h2>
                    {% endif %}
                    {% if block.settings.blog_tag_description %}
                        <p>{{ block.settings.blog_tag_description | strip_html }}</p>
                    {% endif %}

                    {% assign blog_tag = block.settings.blog_tag %}
                    {% assign article_handles = '' %}

                    {% for article in blogs.all.articles %}
                        {% if article.tags contains blog_tag %}
                            {% assign article_handles = article_handles | append: article.handle | append: ',' %}
                        {% endif %}
                    {% endfor %}

                    {% assign article_handles = article_handles | split: ',' | uniq %}

                    <div class="blog-subsection-article-container num-articles-{{ article_handles.size }}">
                        {% for handle in article_handles %}
                            {% assign article = articles[handle] | limit: 5 %}
                            {% if article %}
                                <div class="blog-article">
                                    <a href="{{ article.url }}">
                                        {% if article.image %}
                                            <img src="{{ article.image | image_url: width: 800 }}" alt="{{ article.title }}">
                                            <h5>{{ article.title }}</h5>
                                            <h6>{{ article.author }} <br> {{ article.published_at | time_tag: format: 'date' }} </h6>
                                        {% endif %}
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
        
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% schema %}
{
  "name": "JR Blog Body",
  "settings": [],
  "blocks": [
    {
        "type": "blog-tag-section",
        "name": "Blog Tag Section",
        "settings": [
            {
                "type": "text",
                "id": "blog_tag",
                "label": "Blog Subsection Tag",
                "info": "Enter the tag of the articles you want to display in this section. EG. If you have have several articles tagged '420', you coudl enter 420 here. Then 3 of the newest articles will populate in this section"
            },
            {
                "type": "text",
                "id": "blog_tag_title_of_subsection",
                "label": "Blog Subsection Title"
            },
            {
                "type": "richtext",
                "id": "blog_tag_description",
                "label": "Blog Subsection Description",
            }
        
        ]
    }
  ],
  "presets": [
    {
        "name": "JR Blog Body"
    }
  ]
}
{% endschema %}