{% style %}

#footer.margin-top {
    margin-top: 0 !important;
}

{% endstyle %}

{% liquid 

    assign current_article_tags = ''
    assign related_article_handles = ''

    for tag in article.tags 
        if tag contains 'tags_'
            assign current_article_tags = current_article_tags | append: tag | append: ','
        endif
    endfor

    assign current_article_tags = current_article_tags | split: ',' 


-%}

{% for tag in current_article_tags %}

    {% for article in blogs.all.articles %}

        {% if article.tags contains tag %}
            {% assign related_article_handles = related_article_handles | append: article.handle | append: ',' %}
        {% endif %}
    {% endfor %}
{% endfor %}

{% assign related_article_handles = related_article_handles | split: ',' | uniq %}


<div data-section-id="{{ section.id }}">
    <div class="page-width updated-article-body">
        {% if article.image != blank %}
            <div class="article-featured-image">
                {{ article.image |  image_url: width: 1440 | image_tag }}
            </div>
        {% endif %}
        <div class="article-content">
            {{ article.content }}
        </div>
        <h3 style="width: 100%; font-weight: 600;">By: {{ article.author }}</h3>

        <div class="social-sharing-container bottom-of-page">
            <ul class="social-icons">
                <button class="fa fa-facebook" data-sharer="facebook" data-title="{{ article.title }}"  data-url="{{ full_url }}"></button>
                <button class="fa fa-twitter" data-sharer="twitter" data-title="{{ article.title }}"  data-url="{{ full_url }}"></button>
                <button class="fa fa-linkedin" data-sharer="linkedin" data-title="{{ article.title }}"  data-url="{{ full_url }}"></button>
                <button class="fa fa-pinterest" data-sharer="pinterest" data-title="{{ article.title }}"  data-url="{{ full_url }}"></button>
                <button class="copy-url">
                    {% render 'icon-copy-chain' %}
                </button>
            </ul>
        </div>

        {% comment %} add image of author {% endcomment %}
        {% comment %} add write up of author {% endcomment %}

        <div class="related-articles-container">
            <h2>Related Articles</h2>
            <div class="related-articles">
                {% for handle in related_article_handles %}

                    {% assign target_article = articles[handle] %}
                    
                    {% unless handle == article.handle %}

                        {% if target_article %}
                            <div class="related-article">
                                <a href="{{ target_article.url }}">
                                    {% if target_article.image != blank %}
                                        {{ target_article.image | image_url: width: 500 | image_tag }}
                                    {% else %}
                                        <div class="placeholder"></div>
                                    {% endif %}
                                    <h5>{{ target_article.title }}</h5>
                                </a>
                            </div>
                        {% endif %}

                    {% endunless %}
                {% endfor %}
        
            </div>
        </div>

    </div>
</div>

{% schema %}
{
  "name": "JR Article Body",
  "settings": [],
  "blocks": [],
  "presets": [
    {
        "name": "JR Article Body"
    }
  ]
}
{% endschema %}