<section class="about">

  <div class="meet-founder">
    <div class="page-width">
      <div class="meet-founder-inner">

        <div class="founder-pic"  style="background-image:url('{{ section.settings.founder_pic | img_url: 'master' }}');">
          <div class="founder-pic-info contentwrap">
            {% if section.settings.small_text != blank %}
            <h6 role="heading" aria-level="2">{{section.settings.small_text}}</h6>
            {% endif %}
            {% if section.settings.large_text != blank %}
            <h1 role="heading" aria-level="2">{{section.settings.large_text}}</h1>
            {% endif %}
            
          </div>
        </div>
		
         <div class="page-width-2">
        {% if section.settings.founder_info != blank %}
        <div class="founder-info contentwrap">{{section.settings.founder_info}}</div>
        {% endif %}
        </div>
      </div>
      <div class="divider"></div>

      <div class="single-banner">
        {% if section.settings.add_banner != blank %}
        <img src="{{ section.settings.add_banner |  img_url: "master"}}"  class="single-img" alt="" />
        {% endif %}
      </div>

    </div>
  </div>

  <div class="kush-cares">
    <div class=" page-width-2 contentwrap">
      {% if section.settings.kush_title != blank %}
      <h2>{{section.settings.kush_title}}</h2>
      {% endif %}
      {% if section.settings.kush_subtitle != blank %}
      <h6 role="heading" aria-level="3">{{section.settings.kush_subtitle}}</h6>
      {% endif %}
      {% if section.settings.kush_text != blank %}
      <div class="kush-text">{{section.settings.kush_text}}</div>
      {% endif %}
    </div>
  </div>

  <div class="our-giving">
    <div class="page-width-2 contentwrap">
      {% if section.settings.giving_title != blank %}
      <h2>{{section.settings.giving_title}}</h2>
      {% endif %}
      
        <ul role="none" class="giving-inner">
          <div class="giving-slider">
          {% for block in section.blocks %}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "wc_product_visibility", resource: block %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop End {%- endcomment -%}

          {% case block.type %}
          {% when 'giving-set' %}
          
            <li role="none">
              {% if block.settings.giving_pic != blank %}
              <img src="{{ block.settings.giving_pic |  img_url: "master"}}"  alt="{{ block.settings.giving_pic.alt}}" />
              {% endif %}
            </li>
          
          {% endcase %}
          {% endfor %}
          </div>
        </ul>
      </div>
    
  </div>

  <div class="invest">
    <div class="page-width">
      <div class="invest-pic">
      {% if section.settings.sec_pic != blank %}
      <img src="{{ section.settings.sec_pic |  img_url: "master"}}"  alt="" />
      {% endif %}
      </div>

      <div class="invest-title contentwrap">
        {% if section.settings.main_title != blank %}
        <h2>{{section.settings.main_title}}</h2>
        {% endif %}
        {% if section.settings.main_subtext != blank %}
        <p>{{section.settings.main_subtext}}</p>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="activity-partner">
    <div class=" page-width-2">
      {% if section.settings.activity_title != blank %}
      <h6 role="heading" aria-level="3">{{section.settings.activity_title}}</h6>
      {% endif %}
      <div class="activity-slider">
        {% for block in section.blocks %}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "wc_product_visibility", resource: block %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop End {%- endcomment -%}

        {% case block.type %}
        {% when 'activity-logo' %}
        
          <div class="activity-logo">
            {% if block.settings.activity_pic != blank %}
            <img src="{{ block.settings.activity_pic |  img_url: "master"}}" alt="{{ block.settings.activity_pic.alt}}"   />
            {% endif %}
          </div>
        
        {% endcase %}
        {% endfor %}
        
        
      </div>
      <div class="single-logo">
        	{% if section.settings.singlelogo_pic != blank %}
            <img src="{{ section.settings.singlelogo_pic |  img_url: "master"}}"  alt="{{ section.settings.singlelogo_pic.alt}}" />
            {% endif %}
        </div>

    </div>
  </div>
  
  <div class="investor-form">
    <div class="page-width-2">
      
      <h2>{{section.settings.investor_title}}</h2>
      
        <div class="grid grid--half-gutters">
          <div class="grid__item medium-up--one-whole inv-add">
              <label for="{{ formId }}-name">{{ 'contact.form.name' | t }}</label>
              <input type="text" id="{{ formId }}-name" name="contact[name]" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
           </div>
          
          <div class="grid__item medium-up--one-whole inv-add">
              <label for="{{ formId }}-company">Company</label>
              <input type="text" id="{{ formId }}-company" name="contact[company]" value="">
           </div>
          
          <div class="grid__item medium-up--one-whole inv-add">
              <label for="{{ formId }}-email">{{ 'contact.form.email' | t }} <span aria-hidden="true">*</span></label>
              <input
                type="email"
                id="{{ formId }}-email"
                name="contact[email]"
                autocorrect="off"
                autocapitalize="off"
                value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                aria-required="true"
                {%- if form.errors contains 'email' -%}
                  class="input--error"
                  aria-invalid="true"
                  aria-describedby="{{ formId }}-email-error"
                {%- endif -%}
                >
              {%- if form.errors contains 'email' -%}
                <span id="{{ formId}}-email-error" class="input-error-message">
                  <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                  {% include 'icon-error' %}
                  <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
                </span>
              {%- endif -%}
            </div>
          
          	<div class="grid__item medium-up--one-whole inv-add">
              <label for="{{ formId }}-phone">{{ 'contact.form.phone' | t }}</label>
              <input type="tel" id="{{ formId }}-phone" name="contact[phone]" pattern="[0-9\-]*" value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}">
          	</div>
          
          <div class="add-submit"><input type="submit" class="submit-btn" value="{{ 'contact.form.submit' | t }}"></div>
          
        </div>
      </div>
    
  </div>

</section>

{% schema %}
{
  "name": "Who we are",
  "settings": [
    {
      "type": "image_picker",
      "id": "founder_pic",
      "label": "Founder Image"
    },
    {
      "type": "text",
      "id": "small_text",
      "label": "Founder Caption"
    },
    {
      "type": "text",
      "id": "large_text",
      "label": "Founder Title"
    },
    {
      "type": "html",
      "id": "founder_info",
      "label": "Founder info"
    },
    {
      "type": "image_picker",
      "id": "add_banner",
      "label": "Single Banner Image"
    },
    {
      "type": "text",
      "id": "kush_title",
      "label": "kush cares title"
    },
    {
      "type": "text",
      "id": "kush_subtitle",
      "label": "kush cares subtitle"
    },
    {
      "type": "html",
      "id": "kush_text",
      "label": "kush cares text"
    },
    {
      "type": "text",
      "id": "giving_title",
      "label": "Giving Title"
    },
    {
      "type": "image_picker",
      "id": "sec_pic",
      "label": "Second banner Image"
    },
    {
      "type": "text",
      "id": "main_title",
      "label": "invest title"
    },
    {
      "type": "text",
      "id": "main_subtext",
      "label": "invest subtext"
    },
    {
      "type": "text",
      "id": "activity_title",
      "label": "activity title"
    },
    {
      "type": "image_picker",
      "id": "singlelogo_pic",
      "label": "single logo Image"
    },
    {
      "type": "text",
      "id": "investor_title",
      "label": "investor title"
    }
  ],
  "blocks": [
    {
      "type": "giving-set",
      "name": "our-giving",
      "settings": [
        {
          "type": "image_picker",
          "id": "giving_pic",
          "label": "Giving Image"
        }
      ]
    },
    {
      "type": "activity-logo",
      "name": "activity",
      "settings": [
        {
          "type": "image_picker",
          "id": "activity_pic",
          "label": "activity Image"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
